<div class="btn-group pull-right" role="group">
    {{#ifis stage STAGE_SELECTION}}
    <button class="btn btn-default btn-sm vote{{#if voted}} active{{/if}}" title="{{#if voted}}unvote{{else}}vote{{/if}}"><span class="fa fa-heart"></span></button>
    {{/ifis}}
    
    {{#ifis2 stage STAGE_SELECTION STAGE_PROPOSAL}}
    <button class="btn btn-default btn-sm join{{#if joined}} active{{/if}}" title="{{#if joined}}leave{{else}}join{{/if}}"><span class="fa fa-user-plus"></span></button>
    <!-- TODO in v0.2 <button class="btn btn-default btn-sm merge" title="merge request"><span class="fa"></span></button>-->
    {{/ifis2}}
    
    {{#if pid}}
    <button class="btn btn-default btn-sm edit" title="edit"><span class="fa fa-pencil"></span></button>
    <!--<form action="#/topics">
        <button class="ico del" title="delete"><span></span></button>
    </form>-->
    <a class="btn btn-default btn-sm del" title="delete" href="#/topics"><span class="fa fa-times"></span></a>
    {{/if}}
    
</div>