<div class="lightbox modal" id="box-topic-new">
    <div class="modal-dialog">
        <div class="modal-content">
        
            <div class="modal-header">
                <button type="button" class="close cancel" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">{{i18n "Create new Topic"}}</h4>
            </div>
                
            <div class="modal-body">
                {{#ifis lightboxOpen 1}}{{> alert}}{{/ifis}}
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="topic-name" class="col-md-3 control-label">{{i18n "Name of Topic"}}:</label>
                        <div class="col-md-9"><input class="form-control topic-name" type="text" /></div>
                    </div>
                    <input type="hidden" class="topic-id" />
                </form>
            </div>
            
            <div class="modal-footer">
                <button class="btn btn-primary save">{{i18n "Save"}}</button>
                <button class="btn btn-default cancel">{{i18n "Cancel"}}</button>
            </div>
            
        </div>
    </div>
</div>