<stagebar>
	<div class="flex container">
		<div *ngIf="isEditor">
			<div id="toolbar"></div>
			<span class="saved-text">
				<span *ngIf="saved">{{ 'EDITOR_SAVED_CHANGES' | translate }}</span>
				<span *ngIf="!saved">{{ 'EDITOR_UNSAVED_CHANGES' | translate }}</span>
			</span>
		</div>
		
		<div *ngIf="!isEditor">
			<button mat-button [routerLink]="['/user/profile', topic?.authorId]">
				<span><fa-icon [icon]="faUser"></fa-icon> {{ 'TOPIC_BUTTON_AUTHOR' | translate }}</span>
			</button>
		</div>
		
		<span class="flex-spacer"></span>
		
		<button mat-button *ngIf="basicTopic?.stage == C.STAGE_SELECTION" [ngClass]="{'voted': topic?.voted}" title="{{ 'TOPIC_BUTTON_MARK_RELEVANT' | translate }}" (click)="toggleVote()">
			<span><fa-icon [icon]="faHandPaper"></fa-icon> {{ 'TOPIC_BUTTON_MARK_RELEVANT' | translate }}</span>
		</button>
		<button mat-button *ngIf="basicTopic?.stage == C.STAGE_PROPOSAL && !basicTopic?.hasProposal" title="{{ 'TOPIC_BUTTON_CREATE_PROPOSAL' | translate }}" (click)="createProposal()">
			<span><fa-icon [icon]="faFile"></fa-icon> {{ 'TOPIC_BUTTON_CREATE_PROPOSAL' | translate }}</span>
		</button>
		<button mat-raised-button color="warn" *ngIf="basicTopic?.stage == C.STAGE_CONSENSUS && topic?.myGroupId" title="{{ 'TOPIC_BUTTON_GOTO_CURRENT_GROUP' | translate }}" [routerLink]="['/group', topic?.myGroupId]">
			<span><fa-icon [icon]="faPlay"></fa-icon> {{ 'TOPIC_BUTTON_GOTO_CURRENT_GROUP' | translate }}</span>
		</button>
		<button mat-button *ngIf="basicTopic?.stage == C.STAGE_PASSED" title="{{ 'TOPIC_BUTTON_RESULT_DOWNLOAD' | translate }}" (click)="downloadPdf()">
			<span><fa-icon [icon]="faDownload"></fa-icon> {{ 'TOPIC_BUTTON_RESULT_DOWNLOAD' | translate }}</span>
		</button>
	</div>
</stagebar>

<div *ngIf="isEditor" class="editor-wrapper container">
	<div class="row">
		<div class="editor-center">
			<quill-editor class="col" [ngClass]="classColEditor" [modules]="quillModules" [styles]="{'min-height': '300px'}" [placeholder]="placeholder" (onEditorCreated)="editorCreated($event)" (onContentChanged)="contentChanged($event)"></quill-editor>
		</div>
	</div>
</div>

<div *ngIf="!isEditor" class="container">
	<div id="padhtml" [innerHtml]="topic?.descHtml"></div>
</div>
