/* Import variables */
@import "~styles/variables";

button.voted { color: $orange500; }

/* HTML */

#padhtml { min-height: 300px; background-color: $white; padding: 50px; }

/* Editor */

#toolbar { float: left; }

.saved-text {
	margin-left: 50px;
	padding-top: 3px;
	font-weight: 300;
	font-size: 1.3rem;
	color: $grey100;
}