<footer class="mat-elevation-z4">
	<ul id="footmenu" class="clearfix">
		<li><a target="_blank" href="http://openevocracy.org">{{ 'FOOTER_MENU_ABOUT' | translate }}</a></li>
		<li><a target="_blank" href="http://openevocracy.org">{{ 'FOOTER_MENU_IMPRESS' | translate }}</a></li>
		<li><a target="_blank" href="https://github.com/openevocracy/openevocracy">Github</a></li>
		<li><a target="_blank" href="https://twitter.com/openevocracy">Twitter</a></li>
	</ul>
	<div class="evo-version"><span>{{ 'FOOTER_MENU_VERSION' | translate }}</span>: <span>{{ version }}</span><span *ngIf="debug"> dev</span></div>
</footer>
