<mat-toolbar color="primary">
	<div class="flex container">
		<div class="topic-title">
			<p>{{prefix}}</p>
			<h1>{{title}}</h1>
		</div>
		
		<span class="flex-spacer"></span>
		
		<button mat-button title="{{ 'FORUM_BUTTON_NEW_THREAD' | translate }}" (click)="createNewThread()">
			<span><fa-icon [icon]="faComment"></fa-icon> {{ 'FORUM_BUTTON_NEW_THREAD' | translate }}</span>
		</button>
		<button mat-button title="{{ 'FORUM_BUTTON_TO_GROUP' | translate }}" [routerLink]="['/group/editor', padId]">
			<span><fa-icon [icon]="faUsers"></fa-icon> {{ 'FORUM_BUTTON_TO_GROUP' | translate }}</span>
		</button>
	</div>
</mat-toolbar>

<div class="container"></div>
