/*#content .ico {
    display: inline-block;
    width: 16px;
    height: 16px;
    line-height: 0;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
}*/

/*#content .ico span { display: none; }*/

#block-manage button {
    width: 80px;
}

.add span { background-image: url('../img/add.png'); }
.edit span { background-image: url('../img/edit.png'); }
.del span { background-image: url('../img/del.png'); }
.join span { background-image: url('../img/participate.png'); }
.vote span { background-image: url('../img/vote.png'); }
.merge span { background-image: url('../img/merge.png'); }

.noti-topics span { background-image: url('../img/proposal.png'); }
.noti-msg span { background-image: url('../img/bubble.png'); }
.noti-reput span { background-image: url('../img/karma.png'); }
.settings span { background-image: url('../img/settings.png'); }

.edit.active span { background-image: url('../img/save.png'); }
.ico.active { background: #dfb none; /*#fdb*/ box-shadow: inset 0 0 8px 2px rgba(0,0,0,0.2); }

#mygroup .barbtn { background-image: url('../img/bubble.png'); }
#group-members .barbtn { background-image: url('../img/participate.png'); }

/* ############## */
/* ### TOPICS ### */
/* ############## */

/* ### TOPICS-LIST ### */

#topic-list { border-top: 1px solid #e0e6ef; }

#topic-list .topic-item {
    height: 39px;
    border-bottom: 1px solid #e0e6ef;
    background-color: #f8f8f8;
}

#topic-list .link {
    padding: 2px 0;
    cursor: pointer;
}

#topic-list .link:hover {
    background-color: #f0f0f0;
}

#topic-list .time-remaining { padding-right: 5px; font-size: 12px; }
#topic-list .time-remaining div { text-align: right; }

#topic-list .stats {
    font-size: 11px;
    line-height: 14px;
}

#topic-list .name {
    text-shadow: 0 1px rgba(0,0,0,0.2);
    font-size: 17px;
    line-height: 21px;
}

#topic-list button.ico {
    margin-top: 3px;
}

/* Progress Colors */

#topic-list .progress {
    height: 100%;
    width: 5px;
    margin-right: 5px;
    float: left;
    background-color: #000;
}

#topic-list .stage-1 { background-color: #999; }
#topic-list .stage0 { background-color: #60a5ff; }
#topic-list .stage1 { background-color: #7de8b2; }
#topic-list .stage2 { background-color: #ff5369; }
#topic-list .stage3 { background-color: #ffed73; }

/* ### TOPICS-DETAILS ### */

#topic-details h1 {
    margin-bottom: 0.1em;
}

#topic-details .desc {
    overflow: hidden;
    height: auto;
}

#topic-details .open-desc {
    display: none;
    position: relative;
    height: 15px;
    line-height: 15px;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 -15px 50px 15px #fff;
    background: #eeeeee url('../img/arrow-down.png') no-repeat center center;
}

#topic-details .open-desc:hover { background-color: #dddddd; }
#topic-details .open-desc span { display: none; }

/* ############## */
/* ### GROUPS ### */
/* ############## */

#groups .group {
    text-align: center;
    background: transparent url('../img/group.png') no-repeat left top;
    width: 64px;
    height: 64px;
    float: left;
    margin: 0 10px 10px 0;
}

#groups .group span {
    color: #fff;
    font-weight: 400;
    line-height: 64px;
    text-shadow: 1px 1px #666;
}

/* ### MEMBERS ### */

#members ul { border-top: 1px solid #e0e6ef; }

#members ul li {
    color: inherit;
    display: block;
    line-height: 2.5em;
    background-color: #f8f8f8;
    border-bottom: 1px solid #e0e6ef;
}

#backtotopic { background-color: #e8e8e8; }