<mat-toolbar color="primary">
	<div class="flex container">
		<h1>{{ header }}</h1>
		<span class="flex-spacer"></span>
	</div>
</mat-toolbar>

<div class="container alert-box">
	<alert></alert>
</div>

<div class="container">
	<mat-tab-group>
		<mat-tab label="{{ 'PROFILE_TAB_TITLE_OVERVIEW' | translate }}">
			<h3>{{ 'PROFILE_ID_TITLE' | translate }}:</h3>
			<strong>{{ profileId }}</strong>
		</mat-tab>
		<mat-tab label="{{ 'PROFILE_TAB_TITLE_ACTIVITIES' | translate }}">
			<div *ngFor="let act of activityList" [ngClass]="'act'+act.type" class="act">
				
				<div class="act-time">
					<small>{{act.timestamp | date: cfg.DATEFORMAT_DATETIME}}</small>
				</div>
				
				<div class="flex">
					
					<div class="act-text">
						<p *ngIf="act.type == C.ACT_TOPIC_CREATE">{{'ACT_TOPIC_CREATE_STR' | translate}} {{act.targetId}}</p>
						<p *ngIf="act.type == C.ACT_PROPOSAL_CREATED">{{'ACT_PROPOSAL_CREATED_STR' | translate}} {{act.targetId}}</p>
						<p *ngIf="act.type == C.ACT_ELECTED_DELEGATE">{{'ACT_ELECTED_DELEGATE_STR' | translate}} {{act.targetId}}</p>
						<p *ngIf="act.type == C.ACT_DROP_OUT">>{{'ACT_DROP_OUT_STR' | translate}} {{act.targetId}}</p>
						<p *ngIf="act.type == C.ACT_TOPIC_COMPLETE">{{'ACT_TOPIC_COMPLETE_STR' | translate}} {{act.targetId}}{{'ACT_TOPIC_COMPLETE_STR2' | translate}}</p>
						<p *ngIf="act.type == C.ACT_MENTIONED">{{'ACT_MENTIONED_STR' | translate}} {{act.targetId}}{{'ACT_MENTIONED_STR2' | translate}}</p>
						<p *ngIf="act.type == C.ACT_TOPIC_VOTE">{{'ACT_TOPIC_VOTE_STR' | translate}} {{act.targetId}}</p>
						<p *ngIf="act.type == C.ACT_TOPIC_UNVOTE">{{'ACT_TOPIC_UNVOTE_STR' | translate}} {{act.targetId}}{{'ACT_TOPIC_UNVOTE_STR2' | translate}}</p>
					</div>
					
					<span class="flex-spacer"></span>
					
					<div>
						<button mat-icon-button color="primary" (click)="setPrivacyLevel($event, C.ACT_PLVL_SELF)">
							<fa-icon [icon]="faUserLock"></fa-icon>
						</button>
						<button mat-icon-button color="primary" (click)="setPrivacyLevel($event, C.ACT_PLVL_MATES)">
							<fa-icon [icon]="faUserFriends"></fa-icon>
						</button>
						<button mat-icon-button color="primary" (click)="setPrivacyLevel($event, C.ACT_PLVL_FOLLOWERS_MATES)">
							<fa-icon [icon]="faUsers"></fa-icon>
						</button>
						<button mat-icon-button color="primary" (click)="setPrivacyLevel($event, C.ACT_PLVL_ALL)">
							<fa-icon [icon]="faGlobe"></fa-icon>
						</button>
					</div>
					
				</div>
			</div>
		</mat-tab>
	</mat-tab-group>
</div>
