/* Import variables */
@import "~styles/variables";

.mat-card.act0 { border-color: $blue400; }
.mat-card.act1 { border-color: $orange400; }
.mat-card.act2 { border-color: $red400; }
.mat-card.act3 { border-color: $amber50; }
.mat-card.act4 { border-color: $green400; }
.mat-card.act5 { border-color: $teal100; }
.mat-card.act6 { border-color: $grey800; }