/* Import variables */
@import "~styles/variables";

/* Toolbar */
.topic-title h1 { line-height: 30px; padding-top: 10px; font-size: 20px; font-weight: normal; }
.topic-title p { margin: 0; font-size: 12px; font-weight: 300; line-height: 16px; padding-bottom: 8px; }

.mat-icon-button { margin-top: 12px; }

.pad-html { background-color: $white; box-shadow: 0 0 10px rgba(0, 0, 0, 0.05); padding: 25px; min-height: 300px; }
