/* Import variables */
@import "~styles/variables";

hr { margin: 0; }

.vote-fa fa-icon { cursor: pointer; transition: color 300ms; }
.vote-fa fa-icon:hover, .post-vote fa-icon:focus, .post-vote fa-icon:active { color: $teal500; }

#thread-toolbar { border-bottom: 5px solid $white; }
#thread-toolbar.open { border-color: $red500; }
#thread-toolbar.closed { border-color: $blue500; }

#watch-thread { padding: 7.5px; }
.mat-slide-toggle-content { font-weight: 500; }

/* Post */
.post {
    margin-bottom: 20px;
    background-color: $white;
    transition: background-color 500ms;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}
.post.highlighted { background-color: $amber50; }
.post.mainpost { margin-top: 20px; }
.post-wrapper { padding: 10px 20px; }

.mainpost-spacer { margin-bottom: 20px; margin-top: 30px; text-align: center; }
.mainpost-spacer hr { margin-bottom: -12px; }
.mainpost-spacer .sorting-label { display: inline-block; background-color: $grey200; padding: 0 10px; }

.post-head { padding: 10px 20px; }
.post-links { float: right; }
.post-links .mat-button { line-height: 22px; padding: 0 5px; font-size: 12px; }
.post-meta { line-height: 22px; }

.post-text { margin: 10px 0 50px 70px; }
.post-text p { margin: 0; }

.post-vote { float: left; margin: 10px 0; width: 40px; text-align: center; }
.post-vote fa-icon { font-size: 35px; }
.post-vote .vote-fa { margin: -10px 0; }
.post-vote .voted fa-icon { color: $teal500; }

/* Comment */
.post-comments { padding: 0 20px 10px 20px; margin-left: 70px; }
.comment-add { padding: 20px 0; }
.comment-add-link { cursor: pointer;  }
.comment-field textarea { width: 100%; margin-bottom: 10px; padding: 5px; }
.comment-add .minwords-message { margin-left: 1rem; }

.comment-wrapper { margin-left: 40px; }
.comment-text p { margin: 10px 0; }

.comment-vote { float: left; margin: 10px 0; width: 30px; text-align: center; }
.comment-vote fa-icon { color: $grey500; font-size: 28px; }
.comment-vote .vote-fa { margin: -15px 0;  }
.comment-vote .vote-count span { color: $grey500; }
.comment-vote .voted fa-icon { color: $teal300; }

.comment-footer { color: $grey700; margin-bottom: 5px; }
.comment-links { float: right; }
.comment-links a { cursor: pointer; }

/* New post editor */
#newpost {  padding: 10px 20px; }
#newpost button { margin: 20px 0; }
