<mat-toolbar id="thread-toolbar" color="primary" [ngClass]="{'closed': thread?.closed, 'open': !thread?.closed}">
	<div class="flex container">
		<h1>
			<fa-icon *ngIf="thread?.private" class="private" [icon]="faLock" title="{{ 'FORUM_THREAD_PRIVATE' | translate }}"></fa-icon>
			<span>{{ thread?.title }}</span>
		</h1>
		
		<span class="flex-spacer"></span>
		
		<button mat-button title="{{ 'FORUM_BUTTON_BACK_TO_THREADLIST' | translate }}" [routerLink]="['/group/forum', thread?.forumId]">
			<span><fa-icon [icon]="faArrowAltCircleLeft"></fa-icon> {{ 'FORUM_BUTTON_BACK_TO_THREADLIST' | translate }}</span>
		</button>
		<button *ngIf="thread?.authorId == userId" mat-button title="{{ solvedButton | translate }}" (click)="toggleSolved()">
			<span><fa-icon [icon]="faCheckSquare"></fa-icon> {{ solvedButton | translate }}</span>
		</button>
	</div>
</mat-toolbar>

<div class="container">
	<div *ngFor="let post of posts; let i = index;" class="post" [id]="'post-'+post.postId" [ngClass]="{ 'highlighted': post.postId==fragment, 'mainpost': post.postId==thread.mainPostId}">
		<div class="post-head">
			<div class="post-links">
				<button mat-button title="{{ 'FORUM_BUTTON_SHARE' | translate }}" (click)="post.postId==thread.mainPostId ? shareThread() : sharePost(post.postId)">
					<span><fa-icon [icon]="faShareSquare"></fa-icon> {{ 'FORUM_BUTTON_SHARE' | translate }}</span>
				</button>
				<button *ngIf="post.authorId == userId" mat-button title="{{ 'FORUM_BUTTON_EDIT' | translate }}" (click)="post.postId==thread.mainPostId ? editThread(post.postId, post.html) : editPost(post.postId, post.html)">
					<span><fa-icon [icon]="faPenSquare"></fa-icon> {{ 'FORUM_BUTTON_EDIT' | translate }}</span>
				</button>
				<button *ngIf="post.authorId == userId" mat-button title="{{ 'FORUM_BUTTON_DELETE' | translate }}" (click)="post.postId==thread.mainPostId ? deleteThread() : deletePost(post.postId)">
					<span><fa-icon [icon]="faTrash"></fa-icon> {{ 'FORUM_BUTTON_DELETE' | translate }}</span>
				</button>
			</div>
			<div class="post-meta">
				{{ 'FORUM_THREADLIST_AUTHOR_PREFIX' | translate }} <a [routerLink]="['/user/profile', post.authorId]">{{ post.authorName }}</a>
				{{ 'FORUM_THREADLIST_CREATION_DATE_PREFIX' | translate }} <span>{{ post.createdTimestamp | date: cfg.DATEFORMAT_DATETIME }}</span><span *ngIf="post.editHistory.length != 0">, {{ post.editHistory.length }} {{ 'FORUM_POST_EDITS_LABEL' | translate }}</span>
			</div>
		</div>
		<hr/>
		<div class="post-wrapper clearfix">
			<div class="post-vote">
				<div class="vote-fa vote-up" [ngClass]="{ 'voted': post.userVote==1}" (click)="votePost(post.postId, 1)"><fa-icon [icon]="faCaretUp"></fa-icon></div>
				<div>{{ post.sumVotes }}</div>
				<div class="vote-fa vote-down" [ngClass]="{ 'voted': post.userVote==-1}" (click)="votePost(post.postId, -1)"><fa-icon [icon]="faCaretDown"></fa-icon></div>
			</div>
			<div class="post-text" [innerHtml]="post.html"></div>
		</div>
		<div class="post-comments">
			<div *ngFor="let comment of post.comments" class="comment">
				<hr/>
				<div class="clearfix">
					<div class="comment-vote">
						<div class="vote-fa vote-up" [ngClass]="{ 'voted': comment.userVote==1}" (click)="voteComment(comment.commentId, post.postId, 1)"><fa-icon [icon]="faCaretUp"></fa-icon></div>
						<div class="vote-count"><span>{{ comment.sumVotes }}</span></div>
						<div class="vote-fa vote-down" [ngClass]="{ 'voted': comment.userVote==-1}" (click)="voteComment(comment.commentId, post.postId, -1)"><fa-icon [icon]="faCaretDown"></fa-icon></div>
					</div>
					<div class="comment-wrapper">
						<div class="comment-text" [innerHtml]="comment.html"></div>
						<div class="comment-footer clearfix">
							<div class="comment-links">
								<small *ngIf="comment.authorId == userId"><a (click)="editComment(post.postId, comment)">{{ 'FORUM_BUTTON_EDIT' | translate }}</a>&nbsp;&nbsp;<a (click)="deleteComment(post.postId, comment.commentId)">{{ 'FORUM_BUTTON_DELETE' | translate }}</a></small>
							</div>
							<div class="comment-meta">
								<small><a [routerLink]="['/user/profile', comment.authorId]">{{ comment.authorName }}</a>, {{ comment.createdTimestamp | date: cfg.DATEFORMAT_DATETIME }}<span *ngIf="comment.editHistory.length != 0">, {{ comment.editHistory.length }} {{ 'FORUM_COMMENT_EDITS_LABEL' | translate }}</span></small>
							</div>
						</div>
					</div>
				</div>
			</div>
			<hr/>
			<div class="comment-add">
				<a class="comment-add-link" *ngIf="commentField!=i" (click)="showCommentField(i)" title="{{ 'FORUM_LINK_ADD_COMMENT' | translate }}">
					<span>{{ 'FORUM_LINK_ADD_COMMENT' | translate }}</span>
				</a>
				<div *ngIf="commentField==i" class="comment-field">
					<div><textarea [(ngModel)]="post.newComment" placeholder="{{ 'FORUM_PLACEHOLDER_NEW_COMMENT' | translate }}" rows="3"></textarea></div>
					<button mat-raised-button color="primary" title="{{ 'FORUM_BUTTON_NEW_COMMENT' | translate }}" (click)="submitComment(post)">
						<span>{{ 'FORUM_BUTTON_NEW_COMMENT' | translate }}</span>
					</button>
				</div>
			</div>
		</div>
	</div>
	
	<div id="newpost" class="post">
		<h2>{{ 'FORUM_HEADING_NEW_POST' | translate }}</h2>
		
		<editor-field (onEditorCreated)="editorCreated($event)"></editor-field>
		
		<button [disabled]="saving" mat-raised-button color="primary" title="{{ 'FORUM_BUTTON_NEW_POST' | translate }}" (click)="submitPost()">
			<span>{{ 'FORUM_BUTTON_NEW_POST' | translate }}</span>
		</button>
	</div>
</div>
