<div class="page-header">
    <h2>{{i18n "Your activity"}}</h2>
</div>

<div class="navigation-content">
<!-- TODO: show max 3, 4 or 5 groups, use "read more" like link -->
{{#ifisnot topics.length 0}}
<h3>{{i18n "Topics"}}</h3>
<ul class="nav nav-pills nav-stacked nav-pills-sm">
{{#each topics}}
    <li data-link="nav-tpc-{{this._id}}"><a href="/#/topic/{{this._id}}"><i class="fa fa-question-circle" aria-hidden="true"></i> {{this.name}}<br/><small>{{this.stageName}}{{#ifis stage ../STAGE_CONSENSUS}}, {{i18n "level"}} {{math this.level "+" 1}}{{/ifis}}</small></a></li>
{{/each}}
</ul>
{{/ifisnot}}

{{#if groups}}
<!-- TODO: Popup mit Namen der members -->
<h3>{{i18n "Groups"}}</h3>
<ul class="nav nav-pills nav-stacked nav-pills-sm">
{{#each groups}}
    <li data-link="nav-grp-{{this._id}}"><a class="{{#ifis this.danger 1}}pill-danger{{/ifis}}" href="/#/group/{{this._id}}"><i class="fa fa-users" aria-hidden="true"></i> {{this.name}}<br/><small>{{this.timeRemaining}} {{i18n "remaining"}}</small></a></li>
{{/each}}
</ul>
{{/if}}

{{#if proposals}}
<h3>{{i18n "Proposals"}}</h3>
<ul class="nav nav-pills nav-stacked nav-pills-sm">
{{#each proposals}}
    <li data-link="nav-prp-{{this._id}}"><a class="{{#ifis this.danger 1}}pill-danger{{/ifis}}" href="/#/proposal/{{this._id}}"><i class="fa fa-lightbulb-o" aria-hidden="true"></i> {{this.name}}<br/><small>{{this.timeRemaining}} {{i18n "remaining"}}</small></a></li>
{{/each}}
</ul>
{{/if}}
</div>