/* Import variables */
@import "~styles/variables";

:host {
	position: fixed;
	top: 0;
	z-index: 9999;
	background-color: $white;
	padding: 30px;
	margin: 30px;
	height: calc(100% - 60px);
	width: calc(100% - 60px);
	box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

#graph {
	height: 100%;
}

#close {
	position: absolute;
	top: 20px;
	right: 20px;
}

#info {
	position: absolute;
	top: 20px;
	left: 20px;
	width: 300px;
}
