<modal-addtopic></modal-addtopic>

<mat-toolbar color="primary">
	<div class="flex container">
		<h1>Topics</h1>
		<span class="flex-spacer"></span>
		<button mat-button title="{{'TOPICLIST_BUTTON_ADD' | translate}}" (click)="openAddTopicModal($event)"><fa-icon [icon]="faPlusSquare"></fa-icon> {{"TOPICLIST_BUTTON_ADD" | translate}}</button>
	</div>
</mat-toolbar>

<div class="container alert-box">
	<alert></alert>
</div>

<div class="container">
	<mat-card *ngFor="let topic of topicsList" [ngClass]="'step'+topic.stage" [routerLink]="['/topic', topic._id]">
		<mat-card-content>
			<mat-card-title>{{topic.name}}</mat-card-title>
			<p *ngIf="topic.stage == C.STAGE_REJECTED">{{topic.rejectedReason | translate}}</p>
			<div *ngIf="topic.stage == C.STAGE_SELECTION">
				<p *ngIf="topic.num_votes == 1">1 {{'TOPICLIST_LABEL_VOTE' | translate}}</p>
				<p *ngIf="topic.num_votes > 1">{{topic.num_votes}} {{'TOPICLIST_LABEL_VOTES' | translate}}</p>
			</div>
			<div *ngIf="topic.stage == C.STAGE_PROPOSAL">
				<p *ngIf="topic.num_proposals == 1">1 {{'TOPICLIST_LABEL_PROPOSAL' | translate}}</p>
				<p *ngIf="topic.num_proposals > 1">{{topic.num_proposals}} {{'TOPICLIST_LABEL_PROPOSALS' | translate}}</p>
			</div>
			<div *ngIf="topic.stage == C.STAGE_CONSENSUS">
				<p>{{'TOPICLIST_LABEL_LEVEL' | translate}} {{topic.level | addone}}</p>
				<p *ngIf="topic.numActiveGroups == 1">1 {{'TOPICLIST_LABEL_GROUP' | translate}}</p>
				<p *ngIf="topic.numActiveGroups > 1">{{topic.numActiveGroups}} {{'TOPICLIST_LABEL_GROUPS' | translate}}</p>
			</div>
			<div *ngIf="topic.stage == C.STAGE_PASSED">
				<p *ngIf="topic.valid_participants == 1">1 {{'TOPICLIST_LABEL_PARTICIPANT' | translate}}</p>
				<p *ngIf="topic.valid_participants > 1">{{topic.valid_participants}} {{'TOPICLIST_LABEL_PARTICIPANTS' | translate}}</p>
			</div>
		</mat-card-content>
		<mat-card-footer>
			<p *ngIf="topic.stage == C.STAGE_REJECTED">{{'TOPIC_STAGE_REJECTED' | translate}}: {{topic.stageRejectedStarted | date: 'y-MM-dd'}}</p>
			<p *ngIf="topic.stage == C.STAGE_SELECTION">
				<button mat-icon-button color="primary" (click)="toggleVote($event, topic._id)">
					<fa-icon [ngClass]="{'not-voted': !topic.voted}" [icon]="faHandPaper"></fa-icon>
				</button>
			</p>
			<p *ngIf="topic.stage == C.STAGE_PROPOSAL || topic.stage == C.STAGE_CONSENSUS"><countdown [time]="topic.nextDeadline"></countdown></p>
			<p *ngIf="topic.stage == C.STAGE_PASSED">{{'TOPIC_STAGE_FINISHED' | translate}}: {{topic.stagePassedStarted | date: 'y-MM-dd'}}</p>
		</mat-card-footer>
	</mat-card>
</div>
