<modal-addtopic></modal-addtopic>

<mat-toolbar color="primary">
	<div class="flex container">
		<h1>Topics</h1>
		<span class="flex-spacer"></span>
		<button mat-button title="{{'TOPICLIST_BUTTON_ADD' | translate}}" (click)="openAddTopicModal($event)"><fa-icon [icon]="faPlusSquare"></fa-icon> {{"TOPICLIST_BUTTON_ADD" | translate}}</button>
	</div>
</mat-toolbar>

<div class="container alert-box">
	<alert></alert>
</div>

<div class="container">
	<mat-card *ngFor="let topic of topicsList" [ngClass]="'step'+topic.stage" [routerLink]="['/topic', topic._id]">
		<mat-card-content>
			<mat-card-title>{{topic.name}}</mat-card-title>
			<div *ngIf="topic.stage == C.STAGE_SELECTION">
				<p *ngIf="topic.numVotes == 1">1 {{'TOPICLIST_LABEL_VOTE' | translate}}</p>
				<p *ngIf="topic.numVotes > 1">{{topic.numVotes}} {{'TOPICLIST_LABEL_VOTES' | translate}}</p>
			</div>
			<div *ngIf="topic.stage == C.STAGE_PROPOSAL">
				<p *ngIf="topic.numProposals == 1">1 {{'TOPICLIST_LABEL_PROPOSAL' | translate}}</p>
				<p *ngIf="topic.numProposals > 1">{{topic.numProposals}} {{'TOPICLIST_LABEL_PROPOSALS' | translate}}</p>
			</div>
			<div *ngIf="topic.stage == C.STAGE_CONSENSUS">
				<p>{{'TOPICLIST_LABEL_LEVEL' | translate}} {{topic.level | addone}}</p>
				<p>
					<span *ngIf="topic.numActiveGroups == 1">1 {{'TOPICLIST_LABEL_GROUP' | translate}}</span>
					<span *ngIf="topic.numActiveGroups > 1">{{topic.numActiveGroups}} {{'TOPICLIST_LABEL_GROUPS' | translate}}</span>
					<br/>
					<span *ngIf="topic.numActiveParticipants == 1">1 {{'TOPICLIST_LABEL_CONSENSUS_PARTICIPANT' | translate}}</span>
					<span *ngIf="topic.numActiveParticipants > 1">{{topic.numActiveParticipants}} {{'TOPICLIST_LABEL_CONSENSUS_PARTICIPANTS' | translate}}</span>
				</p>
			</div>
			<div *ngIf="topic.stage == C.STAGE_PASSED">
				<p *ngIf="topic.validParticipants == 1">1 {{'TOPICLIST_LABEL_PASSED_PARTICIPANT' | translate}}</p>
				<p *ngIf="topic.validParticipants > 1">{{topic.validParticipants}} {{'TOPICLIST_LABEL_PASSED_PARTICIPANTS' | translate}}</p>
			</div>
			<p *ngIf="topic.stage == C.STAGE_REJECTED">{{topic.rejectedReason | translate}}</p>
		</mat-card-content>
		<mat-card-footer>
			<p *ngIf="topic.stage == C.STAGE_SELECTION">
				<button mat-icon-button color="primary" (click)="toggleVote($event, topic._id)">
					<fa-icon [ngClass]="{'not-voted': !topic.voted}" [icon]="faHandPaper"></fa-icon>
				</button>
			</p>
			<p *ngIf="topic.stage == C.STAGE_PROPOSAL || topic.stage == C.STAGE_CONSENSUS"><countdown [time]="topic.nextDeadline" (passed)="updateElement(topic._id)"></countdown></p>
			<div *ngIf="topic.stage == C.STAGE_PASSED">
				<button mat-icon-button color="primary" class="download" title="{{ 'TOPIC_BUTTON_RESULT_DOWNLOAD' | translate }}" (click)="downloadPdf($event, topic._id)">
					<fa-icon [icon]="faDownload"></fa-icon>
				</button>
				<p>{{'TOPIC_STAGE_PASSED' | translate}}: {{topic.stagePassedStarted | date: 'y-MM-dd'}}</p>
			</div>
			<p *ngIf="topic.stage == C.STAGE_REJECTED">{{'TOPIC_STAGE_REJECTED' | translate}}: {{topic.stageRejectedStarted | date: 'y-MM-dd'}}</p>
		</mat-card-footer>
	</mat-card>
</div>
