body { padding: 60px 0 50px 0; }
#wrapper { padding-bottom: 50px; }
a { cursor: pointer; }
small { font-size: 11px; }
.fa { margin-right: 0.1em; }
.btn.active .fa { color: #5cb85c; }
.tr.active .fa { color: #aaa; }
.block { margin-bottom: 5px; }
.btn-block { text-align: left; }
.table a { display: block; }
.table th { cursor: default; }

#proposal .valid { color: #ff0000; cursor: default; }
#proposal .valid.accepted { color: #00ff00; }

.h2-edit {
    border: 1px solid #ccc;
    color: inherit;
    font-size: 28px;
    padding: 5px;
    margin-top: 21px;
    margin-bottom: 10.5px;
    font-weight: 300;
    line-height: 1.1;
}

#logo {
    padding-left: 45px;
    background: transparent url(../img/logo-white-trans_24.png) 15px center no-repeat;
}

#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 250px;
    /*background: #333 url('../img/ladekreis4.gif') center center no-repeat;*/
    text-align: center;
    /*vertical-align: middle;*/
}

#loading .fa { font-size: 40px; }

/* ### CONTAINER WIDTH ### */

@media (min-width: 1600px) {
  .container {
    width: 1270px;
  }
}

/* ### VIEWS ### */

.page-header { margin-top: 0; }

/* ### BLOCKS ### */

.docstate-block .state-stars { margin-bottom: 5px; }
main aside div:first-child h3 { margin-top: 0; }
.levels-block .label { line-height: 15px; }
.members-docs-heading span { font-size: 12px; }

/* #### FOOTER #### */

footer { font-size: 0.8em; text-align: center; }
#footmenu { display: inline-block; margin: 0; }
#footmenu li { list-style: none; float: left; }
#footmenu a { display: inline-block; padding: 0 0.3em; line-height: 40px; }

/* ### TOPICS ### */

#topic-list .list-group-item { padding: 0; height: 41px; }
#topic-list .link { padding: 3px 0; cursor: pointer; }
#topic-list .link:hover { background-color: #e0e0e0; }
#topic-list .time-remaining { padding-right: 5px; font-size: 12px; }
#topic-list .time-remaining div { text-align: right; }
#topic-list .stats { font-size: 11px; line-height: 14px; }
#topic-list .name { font-size: 17px; line-height: 21px; }
#topic-list button.btn, #topic-list a.btn { margin: 4px 0 0 0; }

/* Stage colors */

#topic-list .stage {
    height: 100%;
    width: 5px;
    margin-right: 5px;
    float: left;
    background-color: #000;
}

#topic-list .stage-1 { background-color: #999; } /* rejected */
#topic-list .stage0 { background-color: #5bc0de; } /* selection */
#topic-list .stage1 { background-color: #f0ad4e; } /* proposal */
#topic-list .stage2 { background-color: #d9534f; } /* consensus */
#topic-list .stage3 { background-color: #5cb85c; } /* passed */

/* ### GROUPS ### */

#members table a { text-decoration: none; }
.user-color {
    display: inline-block;
    height: 1em;
    width: 1em;
    margin-right: 0.35em;
    border: 1px solid #ebebeb;
}

/* ### MISC ### */

#editor { height: 400px; }

.ql-toolbar.ql-snow { border: none; border-bottom: 1px solid #e0e0e0; }
.ql-container.ql-snow { border: none; }

.parsley-error { background-color: #d9534f; opacity: 0.65; }
.collab-wrap.active { background-color: #fff; color: #000; border: 1px solid #e0e0e0; }
.collab-wrap.active aside { margin-left: -1px; border-left: 1px solid #e0e0e0; }
.collab-wrap .ql-container.ql-snow { border: 0; border-right: 1px solid #e0e0e0; }
.collab-wrap .choose-tool { border-bottom: 1px solid #e0e0e0; padding: 8px; }
.collab-wrap .choose-tool .nav > li > a { padding: 2px 8px; }
.collab-wrap .collab-tool .block { padding: 8px; display: none; }
.collab-wrap .collab-tool .block.active { display: block; }
.collab-wrap .collab-tool p.small { margin-top: 10px; padding: 5px; color: #9e9e9e; }
.collab-wrap .member-details { background-color: #f9f9f9; margin-bottom: 5px; }
.collab-wrap .member-ratings { padding: 10px 5px 0 5px; margin: 0; }
.collab-wrap .member-ratings li { padding: 5px 0; }
.collab-wrap .member-proposal { text-align: center; padding-top: 10px; }
.collab-wrap .member-proposal .btn { margin-top: 0; }
.collab-wrap a.member-title { display: block; padding: 10px 15px; text-decoration: none; background-color: #f9f9f9; }
.collab-wrap a.member-title:hover { background-color: #f5f5f5; }
.collab-wrap a.member-title.isme { background-color: #d9edf7; }
.collab-wrap a.member-title.isme:hover { background-color: #c4e3f3; }
.collab-wrap a.member-title.active,
.collab-wrap a.member-title.active:hover { background-color: #337ab7; color: #fff; }
.collab-wrap h3 { margin-top: 5px !important; }
.collab-wrap .chat .send { padding: 6px 9px; }

.wysiwyg .editor-wrapper { background-color: #fff; border: 1px solid #e0e0e0; }

/* ### BOOTSTRAP ADDITIONS ### */

.form-group { margin-top: 5px; }

.label.label-trans { background-color: transparent; }

.row-no-padding > [class*="col-"] { padding-left: 0 !important; padding-right: 0 !important; }

.nav-pills > li > a .label { color: inherit; }
.nav-pills > li > a:hover { background-color: #e0e0e0; }

.nav-pills > li > .pill-danger { background-color: #f44336; color: #fff; }
.nav-pills > li > .pill-danger:focus, .nav-pills > li > .pill-danger:hover { background-color: #f55549; }

.nav-pills > li > .pill-success { background-color: #4caf50; color: #fff; }
.nav-pills > li > .pill-success:focus, .nav-pills > li > .pill-success:hover { background-color: #59b75c; }

.navbar .dropdown-menu .active > a:hover, .navbar.navbar-default .dropdown-menu .active > a:hover { background-color: #009688; }

.btn:not(.btn-raised):not(.btn-link):hover { background-color: inherit; }
.btn-group .btn, .btn-group .btn+.btn { margin: 0 1px; }
.btn-group>.btn:last-child:not(:first-child) { margin-right: 0; }
.btn-primary.active, .btn-primary:active, .open > .dropdown-toggle.btn-primary { background-color: inherit; }
.btn.active .fa { color: inherit; }
