<div class="modal">
	<div class="modal-dialog">
		<div class="modal-header">
			<button class="close" (click)="close()">&times;</button>
			<h2>{{'MODAL_CREATE_NEW_TOPIC' | translate }}</h2>
		</div>
		<form [formGroup]="addtopicForm" (ngSubmit)="onSubmit()" novalidate>
			
			<div class="modal-body">
				<mat-form-field>
					<input matInput formControlName="topicname" type="text" [placeholder]="topicnamePlaceholder" required>
				</mat-form-field>
			</div>
			
			<div class="modal-actions">
				<span class="flex-spacer"></span>
				<button mat-raised-button color="primary" type="submit" [disabled]="addtopicForm.invalid">
					<span>{{'MODAL_CREATE' | translate }}</span>
				</button>
				<button mat-button type="button" (click)="close()">{{'MODAL_CANCEL' | translate }}</button>
			</div>
			
		</form>
	</div>
</div>
<div class="modal-background"></div>
