/* Import variables */
@import "~styles/variables";

.threads { margin-top: 20px; }

#watch-forum { padding: 7.5px; }
#watch-forum.alone { padding: 0 7.5px; }

/* Threads */

section {
	background-color: $white;
	height: 80px;
	margin: 10px 0;
	padding: 10px 20px;
	border-left: 5px solid $white;
	box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}
.open { border-color: $red500; }
.closed { border-color: $blue500; }
h2 { display: inline-block; margin: 5px 0; font-weight: 500; cursor: pointer; }
h2 .thread-title:hover, section h2 .thread-title:focus, section h2 .thread-title:active { color: $teal500; }
.viewed h2 { font-weight: 300; }
.meta a { color: inherit; }
.meta a:hover, .meta a:focus, .meta a:active { color: $teal500; text-decoration: none; }

.stat { text-align: center; padding: 0 10px; }
.stat .counter { font-size: 24px; }
.stat .label {}
