/* Import variables */
@import "~styles/variables";

.rating-button span { display: inline-block; }
.rating-button fa-icon { float: left; min-width: 20px; color: rgba(0, 0, 0, 0.87); }

button.me { background-color: rgba(255,255,255,0.2); }

.saved-text { margin-left: 10px; }

#member-proposal button { margin: 15px 15px 0 0; }
#member-proposal-content { margin: 0; padding: 50px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.05); min-height: 300px; }

/* Chat */

/*#chat-wrapper { position: fixed; }
#chat-wrapper form { position: absolute; bottom: 10px; left: 0; width: 100%; padding: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.05); background-color: $white; }
#chat-wrapper .mat-input-container { width: calc(100% - 70px); }
#chat-wrapper .mat-raised-button { min-width: 0; max-width: 50px; margin-left: 10px; }

#chat-messages { overflow-y: scroll; }

.chat-message .default-message { background-color: $white; box-shadow: 0 0 10px rgba(0, 0, 0, 0.05); padding: 10px; margin: 0 0 10px 15px; }
.chat-message.me .default-message { margin: 0 15px 10px 0; }
.default-message .message-username { filter: saturate(8); }
.default-message .message-date { float: right; color: $grey500; }
.default-message .message-header {}

.chat-message .status-message { padding: 5px; margin: 0 15px 10px 15px; }
.status-message .message-date { float: right; color: $grey500; line-height: 1.9rem; }
.status-message .message-body { color: $grey700; }*/

/*@media (min-width: 1200px) { .container { width: 750px; } }
@media (min-width: 1400px) { .container { width: 970px; } }
@media (min-width: 1600px) { .container { width: 1190px; } }*/
