<mat-toolbar class="second-toolbar" color="primary">
	<div class="flex container">
		<span class="flex-spacer"></span>
		<memberbar></memberbar>
	</div>
</mat-toolbar>

<div id="chat-wrapper" class="container">
	<div id="chat-messages">
		<div [ngClass]="{'chat-message': true, 'me': userId == message.userId}" *ngFor="let message of messages">
			<div *ngIf="message.type == C.CHATMSG_DEFAULT" class="default-message">
				<div class="message-header">
					<small class="message-date">{{ message._id | timestamp | date:'HH:mm, yyyy-MM-dd' }}</small>
					<strong class="message-username" [ngStyle]="{'color': memberColors[message.userId]}">{{ memberNames[message.userId] }}</strong>
				</div>
				<div class="message-body">{{ message.text }}</div>
			</div>
			<div *ngIf="message.type == C.CHATMSG_ONLINE || message.type == C.CHATMSG_OFFLINE" class="status-message">
				<small class="message-date">{{ message._id | timestamp | date:'HH:mm, yyyy-MM-dd' }}</small>
				<span class="message-body">{{ message.text }}</span>
			</div>
		</div>
	</div>
	<form [formGroup]="chatForm" (ngSubmit)="sendChatMessage()" novalidate><mat-form-field>
			<input matInput [ngxTribute]="options" formControlName="msg" type="text" placeholder="{{ 'CHAT_MESSAGE_LABEL' | translate }}">
		</mat-form-field>
		
		<button mat-raised-button color="primary" type="submit">
			<fa-icon [icon]="faPlay"></fa-icon>
		</button>
	</form>
</div>
