<modal-closeeditor></modal-closeeditor>

<div class="editor-toolbars">
<mat-toolbar class="first-toolbar" color="primary">
	<div class="flex container">
		<h1>{{ group?.title }}</h1>
		<span class="saved-text">
			<span *ngIf="saved">{{ 'EDITOR_SAVED_CHANGES' | translate }}</span>
			<span *ngIf="!saved">{{ 'EDITOR_UNSAVED_CHANGES' | translate }}</span>
		</span>
		<span class="flex-spacer"></span>
		<button mat-button (click)="enterFullscreen()" title="{{ 'GROUP_BUTTON_PRODUCTIVE_MODE' | translate }}">
			<span><fa-icon [icon]="faExpandArrowsAlt"></fa-icon> {{ 'GROUP_BUTTON_PRODUCTIVE_MODE' | translate }}</span>
		</button>
		<button mat-button title="{{ 'EDITOR_BUTTON_CLOSE' | translate }}" (click)="closeEditor()">
			<span><fa-icon [icon]="faTimes"></fa-icon> {{ 'EDITOR_BUTTON_CLOSE' | translate }}</span>
		</button>
	</div>
</mat-toolbar>

<mat-toolbar class="second-toolbar" color="primary">
	<div class="flex container">
		<div id="toolbar"></div>
		<span class="flex-spacer"></span>
		
		<div *ngFor="let member of group?.members">
			<button mat-button [matMenuTriggerFor]="menu">
				<span><fa-icon [icon]="faUser" [style.color]="member.color"></fa-icon> {{ member.name }}<span *ngIf="member.userId == userId"> *</span></span>
			</button>
			<mat-menu #menu="matMenu" [overlapTrigger]="false">
				<button mat-menu-item class="rating-button" matTooltip="{{ 'GROUP_RATING_TOOLTIP_INTEGRATION' | translate }}" [matTooltipPosition]="'left'">
					<fa-icon [icon]="faHandshake"></fa-icon> <star-rating [starType]="'svg'" [showHalfStars]="true" [hoverEnabled]="true" [rating]="member.ratingIntegration" (ratingChange)="rate($event, member.userId, C.RATING_INTEGRATION)"></star-rating>
				</button>
				<button mat-menu-item class="rating-button" matTooltip="{{ 'GROUP_RATING_TOOLTIP_KNOWLEDGE' | translate }}" [matTooltipPosition]="'left'">
					<fa-icon [icon]="faLightbulb"></fa-icon> <star-rating [starType]="'svg'" [showHalfStars]="true" [hoverEnabled]="true" [rating]="member.ratingKnowledge" (ratingChange)="rate($event, member.userId, C.RATING_KNOWLEDGE)"></star-rating>
				</button>
				<button mat-menu-item (click)="openMemberProposal(member.proposal_html, member.color)">
					<span><fa-icon [icon]="faFile"></fa-icon> {{ 'GROUP_MEMBER_BUTTON_PROPOSAL' | translate }}</span>
				</button>
				<button mat-menu-item>
					<span><fa-icon [icon]="faUser"></fa-icon> {{ 'GROUP_MEMBER_BUTTON_SHOW' | translate }}</span>
				</button>
			</mat-menu>
		</div>
	</div>
</mat-toolbar>
</div>

<div class="group-editor container">
	<div class="row">
		<quill-editor class="col" [ngClass]="classColEditor" [modules]="quillModules" [style]="{'min-height': '300px'}" [placeholder]="placeholder" (onEditorCreated)="editorCreated($event)" (onContentChanged)="contentChanged($event)"></quill-editor>
		<div id="member-proposal" class="col" [ngClass]="classColProposal">
			<button mat-raised-button color="primary" class="pull-right" title="{{ 'GROUP_MEMBER_PROPOSAL_CLOSE' | translate }}" (click)="closeMemberProposal()">
				<span><fa-icon [icon]="faTimes"></fa-icon> {{ 'GROUP_MEMBER_PROPOSAL_CLOSE' | translate }}</span>
			</button>
			<div id="member-proposal-content" [ngStyle]="styleColProposal" [innerHtml]="proposal_html"></div>
		</div>
	</div>
	
	<div id="chat-wrapper">
		<input type="text" />
	</div>
</div>
