<modal-closeeditor></modal-closeeditor>

<div class="editor-toolbars">
<mat-toolbar class="first-toolbar" color="primary">
	<div class="flex container">
		<h1>{{ group?.title }}</h1>
		<span class="saved-text">
			<span *ngIf="saved">{{ 'EDITOR_SAVED_CHANGES' | translate }}</span>
			<span *ngIf="!saved">{{ 'EDITOR_UNSAVED_CHANGES' | translate }}</span>
		</span>
		<span class="flex-spacer"></span>
		<!--<button mat-button title="{{ 'GROUP_BUTTON_FORUM' | translate }}" [routerLink]="['/group/forum', group?.forumId]">
			<span><fa-icon [icon]="faComments"></fa-icon> {{ 'GROUP_BUTTON_FORUM' | translate }}</span>
		</button>-->
		<button mat-button (click)="enterFullscreen()" title="{{ 'GROUP_BUTTON_PRODUCTIVE_MODE' | translate }}">
			<span><fa-icon [icon]="faExpandArrowsAlt"></fa-icon> {{ 'GROUP_BUTTON_PRODUCTIVE_MODE' | translate }}</span>
		</button>
		<button mat-button title="{{ 'FORM_BUTTON_CLOSE' | translate }}" (click)="closeEditor()">
			<span><fa-icon [icon]="faTimes"></fa-icon> {{ 'FORM_BUTTON_CLOSE' | translate }}</span>
		</button>
	</div>
</mat-toolbar>

<mat-toolbar class="second-toolbar" color="primary">
	<div class="flex container">
		<div id="toolbar"></div>
		<span class="flex-spacer"></span>
		
		<div *ngFor="let member of group?.members">
			<button mat-button [matMenuTriggerFor]="menu" [ngClass]="{'me': member.userId == userId}">
				<span><fa-icon [icon]="faUser" [style.color]="member.color"></fa-icon> {{ member.name }}<span *ngIf="online[member.userId]"> *</span></span>
			</button>
			<mat-menu #menu="matMenu" [overlapTrigger]="false">
				<a mat-menu-item class="rating-button" matTooltip="{{ 'GROUP_RATING_TOOLTIP_INTEGRATION' | translate }}" [matTooltipPosition]="'left'">
					<fa-icon [icon]="faHandshake"></fa-icon> <star-rating staticColor="123" [starType]="'svg'" [showHalfStars]="true" [hoverEnabled]="true" [rating]="member.ratingIntegration" (ratingChange)="rate($event, member.userId, C.RATING_INTEGRATION)"></star-rating>
				</a>
				<a mat-menu-item class="rating-button" matTooltip="{{ 'GROUP_RATING_TOOLTIP_KNOWLEDGE' | translate }}" [matTooltipPosition]="'left'">
					<fa-icon [icon]="faLightbulb"></fa-icon> <star-rating staticColor="123" [starType]="'svg'" [showHalfStars]="true" [hoverEnabled]="true" [rating]="member.ratingKnowledge" (ratingChange)="rate($event, member.userId, C.RATING_KNOWLEDGE)"></star-rating>
				</a>
				<button mat-menu-item (click)="openMemberProposal(member.prevPadHtml, member.color)">
					<span><fa-icon [icon]="faFile"></fa-icon> {{ 'GROUP_MEMBER_BUTTON_PROPOSAL' | translate }}</span>
				</button>
				<button mat-menu-item [routerLink]="['/user/profile', member.userId]">
					<span><fa-icon [icon]="faUser"></fa-icon> {{ 'GROUP_MEMBER_BUTTON_SHOW' | translate }}</span>
				</button>
			</mat-menu>
		</div>
	</div>
</mat-toolbar>
</div>

<div class="editor-wrapper container">
	<div class="row">
		<div class="editor-center">
			<quill-editor class="col" [ngClass]="classColEditor" [modules]="quillModules" [style]="{'min-height': '300px'}" [placeholder]="placeholder" (onEditorCreated)="editorCreated($event)" (onContentChanged)="contentChanged($event)"></quill-editor>
			<div id="member-proposal" class="col" [ngClass]="classColProposal">
				<button mat-raised-button color="primary" class="pull-right" title="{{ 'GROUP_MEMBER_PROPOSAL_CLOSE' | translate }}" (click)="closeMemberProposal()">
					<span><fa-icon [icon]="faTimes"></fa-icon> {{ 'GROUP_MEMBER_PROPOSAL_CLOSE' | translate }}</span>
				</button>
				<div id="member-proposal-content" [ngStyle]="styleColProposal" [innerHtml]="proposalHtml"></div>
			</div>
		</div>
	</div>
	
	<div id="chat-wrapper" *ngIf="!chatHide" [ngClass]="{'hidden': !chatReady}">
		<div id="chat-messages">
			<div [ngClass]="{'chat-message': true, 'me': userId == message.userId}" *ngFor="let message of messages">
				<div *ngIf="message.type == C.CHATMSG_DEFAULT" class="default-message">
					<div class="message-header">
						<small class="message-date">{{ message._id | timestamp | date:'HH:mm, yyyy-MM-dd' }}</small>
						<strong class="message-username" [ngStyle]="{'color': memberColors[message.userId]}">{{ memberNames[message.userId] }}</strong>
					</div>
					<div class="message-body">{{ message.text }}</div>
				</div>
				<div *ngIf="message.type == C.CHATMSG_ONLINE || message.type == C.CHATMSG_OFFLINE" class="status-message">
					<small class="message-date">{{ message._id | timestamp | date:'HH:mm, yyyy-MM-dd' }}</small>
					<span class="message-body">{{ message.text }}</span>
				</div>
			</div>
		</div>
		<form [formGroup]="chatForm" (ngSubmit)="sendChatMessage()" novalidate><mat-form-field>
				<input matInput formControlName="msg" type="text" placeholder="{{ 'CHAT_MESSAGE_LABEL' | translate }}">
			</mat-form-field>
			
			<button mat-raised-button color="primary" type="submit">
				<fa-icon [icon]="faPlay"></fa-icon>
			</button>
		</form>
	</div>
</div>
