<mat-toolbar class="second-toolbar" id="thread-toolbar" color="primary" [ngClass]="{'closed': thread?.closed, 'open': !thread?.closed}">
	<div class="flex container">
		<h1>
			<fa-icon *ngIf="thread?.private" class="private" [icon]="faLock" title="{{ 'FORUM_THREAD_PRIVATE' | translate }}"></fa-icon>
			<span>{{ thread?.title }}</span>
		</h1>
		
		<span class="flex-spacer"></span>
		
		<button mat-button title="{{ 'FORUM_BUTTON_BACK_TO_THREADLIST' | translate }}" [routerLink]="['/group', groupId, 'forum']">
			<span><fa-icon [icon]="faArrowAltCircleLeft"></fa-icon> {{ 'FORUM_BUTTON_BACK_TO_THREADLIST' | translate }}</span>
		</button>
		
		<mat-slide-toggle id="watch-thread" [checked]="thread?.notifyStatus" (change)="changeNotifyStatus($event)">{{ 'FORUM_BUTTON_WATCH' | translate }}</mat-slide-toggle>
		
		<button mat-button [matMenuTriggerFor]="menu">{{ 'FORUM_SORT_MENU_LABEL' | translate }} <fa-icon [icon]="faCaretDown"></fa-icon></button>
		<mat-menu #menu="matMenu">
			<button mat-menu-item (click)="sortPosts('createdTimestamp', true)">{{ 'FORUM_SORT_MENU_LABEL_DATE' | translate }}</button>
			<button mat-menu-item (click)="sortPosts('sumVotes')">{{ 'FORUM_SORT_MENU_LABEL_VOTES' | translate }}</button>
		</mat-menu>
	</div>
</mat-toolbar>

<div class="container">
	<div *ngFor="let post of posts; let i = index;">
		<div class="post" [id]="post.postId" [ngClass]="{ 'highlighted': post.postId==fragment, 'mainpost': post.postId==thread.mainPostId}">
			<div class="post-head">
				<div class="post-links">
					<span *ngIf="post.postId == thread.mainPostId && thread?.authorId == userId" class="solved-toggle" title="{{ solvedButtonTitle | translate }}">
						<mat-slide-toggle [checked]="this.thread.closed" (change)="toggleSolved()">{{ 'FORUM_BUTTON_SOLVED' | translate }}</mat-slide-toggle>
					</span>
					<button mat-button title="{{ 'FORUM_BUTTON_SHARE' | translate }}" (click)="post.postId==thread.mainPostId ? shareThread() : sharePost(post.postId)">
						<span><fa-icon [icon]="faShareSquare"></fa-icon> {{ 'FORUM_BUTTON_SHARE' | translate }}</span>
					</button>
					<button *ngIf="post.authorId == userId" mat-button title="{{ 'FORUM_BUTTON_EDIT' | translate }}" (click)="post.postId==thread.mainPostId ? editThread(post.postId, post.html) : editPost(post.postId, post.html)">
						<span><fa-icon [icon]="faPenSquare"></fa-icon> {{ 'FORUM_BUTTON_EDIT' | translate }}</span>
					</button>
					<button *ngIf="post.authorId == userId" mat-button title="{{ 'FORUM_BUTTON_DELETE' | translate }}" (click)="post.postId==thread.mainPostId ? deleteThread() : deletePost(post.postId)">
						<span><fa-icon [icon]="faTrash"></fa-icon> {{ 'FORUM_BUTTON_DELETE' | translate }}</span>
					</button>
				</div>
				<div class="post-meta">
					{{ 'FORUM_THREADLIST_AUTHOR_PREFIX' | translate }} <a [routerLink]="['/user', post.authorId]">{{ post.authorName }}</a>
					{{ 'FORUM_THREADLIST_CREATION_DATE_PREFIX' | translate }} <span>{{ post.createdTimestamp | date: cfg.DATEFORMAT_DATETIME }}</span><span *ngIf="post.editHistory.length != 0">, {{ post.editHistory.length }} {{ 'FORUM_POST_EDITS_LABEL' | translate }}</span>
				</div>
			</div>
			<hr/>
			<div class="post-wrapper clearfix">
				<div class="post-vote">
					<div class="vote-fa vote-up" [ngClass]="{ 'voted': post.userVote==1}" (click)="votePost(post.postId, 1)"><fa-icon [icon]="faCaretUp"></fa-icon></div>
					<div>{{ post.sumVotes }}</div>
					<div class="vote-fa vote-down" [ngClass]="{ 'voted': post.userVote==-1}" (click)="votePost(post.postId, -1)"><fa-icon [icon]="faCaretDown"></fa-icon></div>
				</div>
				<div class="post-text" [innerHtml]="post.html"></div>
			</div>
			<div class="post-poll clearfix" *ngIf="poll && post.postId == thread.mainPostId">
				<hr/>
				<!-- If user has NOT filled poll already and if user from group -->
				<div *ngIf="isGroupMember" novalidate>
					<div *ngIf="poll.allowMultipleOptions">
						<div class="option" *ngFor="let option of poll.options;">
							<mat-checkbox (change)="checkboxSelected(option.index)">
								{{option.label}} <span class="count">({{option.count}} / {{poll.numGroupMembers}})</span>
							</mat-checkbox>
							<mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
						</div>
					</div>
					<mat-radio-group [(ngModel)]="pollChosenRadioButton" *ngIf="!poll.allowMultipleOptions">
						<div class="option" *ngFor="let option of poll.options;">
							<div class="flex option-top">
								<mat-radio-button [value]="option.index">
									{{option.label}}
								</mat-radio-button>
								<span class="flex-spacer"></span>
								<span class="percent">{{option.count/poll.numGroupMembers*100}}%</span>
							</div>
							<mat-progress-bar class="option-progress" mode="determinate" [value]="option.count/poll.numGroupMembers*100"></mat-progress-bar>
							<div class="flex option-bottom">
								<div class="count">
									<span>{{option.count}}</span>
									<span *ngIf="option.count == 1"> {{'FORUM_POLL_LABEL_VOTE' | translate}}</span>
									<span *ngIf="option.count > 1 || option.count == 0"> {{'FORUM_POLL_LABEL_VOTES' | translate}}</span>
								</div>
								<span class="flex-spacer"></span>
								<div>
									<span *ngFor="let votedUserId of option.votedUserIds; let j = index;">
										<span>{{ group.memberName(votedUserId) }}</span>
										<span *ngIf="(j+1) < option.votedUserIds.length">, </span>
									</span>
								</div>
							</div>
						</div>
					</mat-radio-group>
					<button class="poll-submit" mat-raised-button color="primary" title="{{ 'FORUM_POLL_BUTTON_SUBMIT' | translate }}" (click)="submitPoll()">
						<span>{{ 'FORUM_POLL_BUTTON_SUBMIT' | translate }}</span>
					</button>
				</div>
				<!-- If user has filled poll or if user is not from group -->
				<div class="poll-results" *ngIf="!isGroupMember">
					(intermediate) poll results
				</div>
			</div>
			<div class="post-comments">
				<div *ngFor="let comment of post.comments" class="comment">
					<hr/>
					<div class="clearfix">
						<div class="comment-vote">
							<div class="vote-fa vote-up" [ngClass]="{ 'voted': comment.userVote==1}" (click)="voteComment(comment.commentId, post.postId, 1)"><fa-icon [icon]="faCaretUp"></fa-icon></div>
							<div class="vote-count"><span>{{ comment.sumVotes }}</span></div>
							<div class="vote-fa vote-down" [ngClass]="{ 'voted': comment.userVote==-1}" (click)="voteComment(comment.commentId, post.postId, -1)"><fa-icon [icon]="faCaretDown"></fa-icon></div>
						</div>
						<div class="comment-wrapper">
							<div class="comment-text" [innerHtml]="comment.html"></div>
							<div class="comment-footer clearfix">
								<div class="comment-links">
									<small *ngIf="comment.authorId == userId"><a (click)="editComment(post.postId, comment)">{{ 'FORUM_BUTTON_EDIT' | translate }}</a>&nbsp;&nbsp;<a (click)="deleteComment(post.postId, comment.commentId)">{{ 'FORUM_BUTTON_DELETE' | translate }}</a></small>
								</div>
								<div class="comment-meta">
									<small><a [routerLink]="['/user', comment.authorId]">{{ comment.authorName }}</a>, {{ comment.createdTimestamp | date: cfg.DATEFORMAT_DATETIME }}<span *ngIf="comment.editHistory.length != 0">, {{ comment.editHistory.length }} {{ 'FORUM_COMMENT_EDITS_LABEL' | translate }}</span></small>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div *ngIf="isGroupMember && !group.isExpired">
					<hr/>
					<div class="comment-add">
						<a class="comment-add-link" *ngIf="commentField!=i" (click)="showCommentField(i)" title="{{ 'FORUM_LINK_ADD_COMMENT' | translate }}">
							<span>{{ 'FORUM_LINK_ADD_COMMENT' | translate }}</span>
						</a>
						<div *ngIf="commentField==i" class="comment-field">
							<div><textarea [(ngModel)]="post.newComment" (ngModelChange)="checkCommentWordLength(post.newComment, post.postId)" placeholder="{{ 'FORUM_PLACEHOLDER_NEW_COMMENT' | translate }}" rows="3"></textarea></div>
							<button mat-raised-button color="primary" [disabled]="!missingWordsComments.includes(post.postId)" title="{{ 'FORUM_BUTTON_NEW_COMMENT' | translate }}" (click)="submitComment(post)">
								<span>{{ 'FORUM_BUTTON_NEW_COMMENT' | translate }}</span>
							</button>
							<span class="minwords-message" *ngIf="!missingWordsComments.includes(post.postId)" [innerHTML]="forumMinWordsCommentMsgTranslated"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div [ngClass]="{ 'mainpost-spacer': post.postId==thread.mainPostId}" *ngIf="post.postId==thread.mainPostId">
			<hr />
			<div class="sorting-label">{{ 'FORUM_SORT_LABEL_PREFIX' | translate }} {{ sortLabels[sortedBy] | translate }}</div>
		</div>
	</div>
	
	<div *ngIf="(!thread?.private || isGroupMember) && !group.isExpired" id="newpost" class="post">
		<h2>{{ 'FORUM_HEADING_NEW_POST' | translate }}</h2>
		
		<editor-field (onEditorCreated)="editorCreated($event)"></editor-field>
		
		<button [disabled]="saving" mat-raised-button color="primary" title="{{ 'FORUM_BUTTON_NEW_POST' | translate }}" (click)="submitPost()">
			<span>{{ 'FORUM_BUTTON_NEW_POST' | translate }}</span>
		</button>
	</div>
	
	<div *ngIf="(thread?.private && !isGroupMember) && !group.isExpired" id="newpost_private" class="post">
		<p>{{ 'FORUM_NEW_POST_PRIVATE_MSG' | translate }}</p>
	</div>
</div>
