<!-- Include Lightbox -->

<div class="row">

	<div class="col-md-8">
		<div class="button-group pull-right">
		    <button class="btn btn-default btn-raised btn-primary add" title="{{i18n "Add Topic"}}"><span class="fa fa-plus"></span><span translate>Add Topic</span></button>
		    <button class="btn btn-default btn-raised btn-primary refresh" title="refresh list"><span class="fa fa-refresh" aria-hidden="true"></span></button>
		</div>
		
		<div class="page-header">
		    <h2 translate>Current Topics</h2>
		</div>
		
		<!-- {{#ifis lightboxOpen 0}}{{> alert}}{{/ifis}} -->
		
		<div id="topic-list" class="list-group">
		<div ng-controller="TopicListController as topicList">
			<div ng-repeat="topic in topicList.topics | orderBy:'name'" class="list-group-item">
				<div class="stage stage{{topic.stage}}"></div>
				
				<div id="link-{{topic._id}}" class="link">
					<div class="pull-right">
					    <div class="buttons" ng-if="topic.stage == C.STAGE_SELECTION">
					        <button class="btn btn-sm btn-raised vote" ng-class="{'btn-success': topic.voted, 'btn-primary': !topic.voted}" ng-attr-title="{{topic.voted ? 'unmark as relevant' : 'mark as relevant' | translate}}"><span class="fa fa-hand-paper-o"></span></button>
					    </div>
					    <div class="buttons" ng-if="topic.stage == C.STAGE_PASSED">
					         <a class="btn btn-xs btn-raised btn-default btn-success doc" title="{{'Final document' | translate}}" href="file/topic/final/{{topic._id}}" target="_blank"><span class="fa fa-file-text-o"></span><span translate>Final document</span></a>
					    </div>
					    <div class="buttons" ng-if="topic.stage == C.STAGE_PROPOSAL">
					    	<div class="time-remaining">
				                <div><span translate>Completion of</span> {{topic.stageName}} in</div>
				                <div id="timeremaining-{{_id}}"></div>
				            </div>
					    </div>
					    <div class="buttons" ng-if="topic.stage == C.STAGE_CONSENSUS">
				            <div class="time-remaining">
				                <div><span translate>Completion of</span> <span translate>level</span> {{topic.level + 1}} in</div>
				                <div id="timeremaining-{{_id}}"></div>
				            </div>
					    </div>
					</div>
					
					<div>
					    <div class="name">{{topic.name}}</div>
					    <div class="stats">
					    	<span ng-if="topic.stage == C.STAGE_SELECTION"><span translate>created</span>: {{topic}}, {{topic.num_votes}} <span translate>votes</span></span>
					    	<span ng-if="topic.stage == C.STAGE_PROPOSAL"><span translate>started</span>: {{topic.stageProposalStarted | date : "y-MM-dd"}}, {{topic.num_proposals}} <span translate>proposals</span></span>
					    	<span ng-if="topic.stage == C.STAGE_CONSENSUS"><span translate>started</span>: {{topic.stageConsensusStarted | date : "y-MM-dd"}}, {{topic.valid_participants}} <span translate>participants</span></span>
					    	<span ng-if="topic.stage == C.STAGE_PASSED"><span translate>passed</span>: {{topic.stagePassedStarted | date : "y-MM-dd"}}, {{topic.valid_participants}} <span translate>participants</span></span>
					    	<span ng-if="topic.stage == C.STAGE_REJECTED"><span translate>rejected</span>: {{topic.stageRejectedStarted | date : "y-MM-dd"}}, <span translate>{{topic.rejectedReason}}</span></span>
					    </div>
					</div>
				</div>
				
			</div>
		</div>
		</div>
	</div>
	
	<div class="col-md-4">
		<div class="page-header">
			<h2 translate>Filter and sorting</h2>
		</div>
		
		<h3 translate>Filter by stage</h3>
		<div class="block-content">
			<form id="stagefilter">
				<input type="checkbox" class="stage" value="{{C.STAGE_SELECTION}}" checked /> <span translate>Selection stage</span><br/>
				<input type="checkbox" class="stage" value="{{C.STAGE_PROPOSAL}}" checked /> <span translate>Proposal stage</span><br/>
				<input type="checkbox" class="stage" value="{{C.STAGE_CONSENSUS}}" checked /> <span translate>Consensus stage</span><br/>
				<input type="checkbox" class="stage" value="{{C.STAGE_PASSED}}" checked /> <span translate>Passed</span><br/>
				<input type="checkbox" class="stage" value="{{C.STAGE_REJECTED}}" /> <span translate>Rejected</span><br/>
			</form>
		</div>
		
		<hr/>
		
		<h3><span translate>Order by time</span></h3>
		<label>
			<input type="radio" name="deadline" class="deadline" id="oldfirst" value="oldfirst" checked>
			<span translate>Oldest topics first</span>
		</label>
		<label>
			<input type="radio" name="deadline" class="deadline" id="newfirst" value="newfirst">
			<span translate>Newest topics first</span>
		</label>

	</div>

</div>
