<h2 mat-dialog-title>{{ heading | translate }}</h2>

<mat-dialog-content>
	<form [formGroup]="editThreadForm" novalidate>
		<p>
			<mat-form-field>
				<input matInput formControlName="title" type="text" placeholder="{{ 'FORUM_DIALOG_THREAD_TITLE' | translate }}" required>
			</mat-form-field>
		</p>
		
		<div>
			<editor-field [labelKey]="'FORUM_DIALOG_THREAD_TEXT'" [required]="true" [editorHeight]="'120px'" (onEditorCreated)="editorCreated($event)"></editor-field>
		</div>
		
		<p>
			<mat-slide-toggle [checked]="onlyMembers" (change)="onSlideMembersOnly($event)">{{ 'FORUM_DIALOG_THREAD_ONLY_MEMBERS' | translate }}</mat-slide-toggle>
		</p>
		
		<div class="add" *ngIf="showOptions">
		<mat-accordion>
			<mat-expansion-panel hideToggle class="addpoll" formArrayName="options">
				<mat-expansion-panel-header>
					<mat-panel-title>
						<fa-icon [icon]="faPoll"></fa-icon> <span class="label">{{ 'FORUM_POLL_FORM_ADD' | translate }}</span>
					</mat-panel-title>
				</mat-expansion-panel-header>
				
				<div *ngFor="let option of options.controls; let i = index">
					<mat-form-field>
						<mat-label>Option {{i+1}}</mat-label>
						<input matInput [formControlName]="i" type="text">
					</mat-form-field>
					<button mat-icon-button aria-label="Remove option" (click)="removePollOption(i)">
						<fa-icon class="removeoption" [icon]="faTimesCircle"></fa-icon>
					</button>
				</div>
				
				<p>
					<button class="addoption" mat-flat-button color="primary" (click)="addPollOption()">Add option</button>
					<mat-slide-toggle [checked]="allowMultipleOptions" (change)="onSlidePollAllowMultiple($event)">Allow multiple selections</mat-slide-toggle>
				</p>
			</mat-expansion-panel>
		</mat-accordion>
		</div>
		
	</form>
</mat-dialog-content>

<mat-dialog-actions>
	<button mat-raised-button color="primary" (click)="submit()">{{ buttonLabel | translate }}</button>
	<button mat-raised-button color="warn" (click)="close()">{{ 'FORM_BUTTON_CLOSE' | translate }}</button>
</mat-dialog-actions>
