<section class="content" id="login">
    
    <div class="page-header">
        <h2>Login</h2>
    </div>
    
    <p>Welcome to the OpenEvocracy project!</p>
    
    <form id="login-form" data-validate="parsley" class="well">
        <fieldset>
            <div class="form-group">
                <label class="control-label" for="name">Your ID:</label>
                <input class="form-control" type="text" id="name" name="name" placeholder="your id" />
            </div>
            <div class="form-group">
                <label class="control-label" for="pass">Your password:</label>
                <input class="form-control" type="password" id="pass" name="pass" placeholder="your password" />
            </div>
        </fieldset>
    </form>
    
    <button id="login" class="btn btn-primary">Login</button>
    
    <hr/>
    <p>Need an account? Just <a href="/#/register">register</a>.</p>
</section>