<div class="btn-group pull-right" role="group">
    {{#if pid}}
    <button class="btn btn-raised btn-primary btn-sm edit" title="{{i18n "Edit"}}"><span class="fa fa-pencil"></span></button>
    <!-- TODO <button class="ico del" title="delete"><span></span></button> -->
    {{/if}}
    <fieldset disabled>
        <button class="btn btn-sm disabled valid" title=""><span class="fa fa-ban"></span></button>
    </fieldset>
</div>
<!-- TODO include in partials/views/buttons.html > buttons -->

<div class="page-header">
    <h2>{{i18n "My proposal"}}</h2>
</div>

<div class="row">
    <div class="col-md-8 wysiwyg">
        {{> messages}}
        <div id="body">{{{body}}}</div>
        <div class="editor-wrapper hidden">
            <div id="editor"></div>
        </div>
    </div>
    
    <aside class="col-md-4">
        <div class="block docstate hidden">{{> proposal_state}}</div>
        <div class="block">{{> proposal_tabs}}</div>
    </aside>
</div>
