{{#if pid}}
<div class="btn-group pull-right" role="group">
    <button class="btn btn-default btn-sm edit" title="edit"><span class="fa fa-pencil"></span></button>
    <!-- TODO <button class="ico del" title="delete"><span></span></button> -->
</div>
{{/if}}
<!-- TODO include in partials/views/buttons.html > buttons -->

{{> header}}

<div class="row">
    <div class="col-md-8">
        {{> messages}}
        <div class="body">{{{body}}}</div>
        <div id="editor"></div>
    </div>
    
    <aside class="col-md-4">
        <div class="block">{{> proposal_tabs}}</div>
        <div class="block">{{> topic_author}}</div>
        <div class="block last">{{> topic_statistics}}</div>
    </aside>
</div>
