<div class="btn-group pull-right" role="group">
    {{#if pid}}
    <button class="btn btn-default btn-sm edit" title="edit"><span class="fa fa-pencil"></span></button>
    <!-- TODO <button class="ico del" title="delete"><span></span></button> -->
    {{/if}}
    <button class="btn btn-default btn-sm disabled valid" title=""><span class="fa fa-ban"></span></button>
</div>
<!-- TODO include in partials/views/buttons.html > buttons -->

{{> header}}

<div class="row">
    <div class="col-md-8">
        {{> messages}}
        <div id="body">{{{body}}}</div>
        <div class="editor-wrapper hidden">
            <div id="editor"></div>
        </div>
    </div>
    
    <aside class="col-md-4">
        <div class="block docstate hidden">{{> proposal_state}}</div>
        <div class="block">{{> proposal_tabs}}</div>
        <div class="block last">{{> topic_author}}</div>
    </aside>
</div>
