<mat-toolbar color="primary" [ngClass]="'stage'+topic?.stage">
	<div class="flex container">
		<div class="topic-title">
			<h1>{{topic?.name}}</h1>
			<p *ngIf="topic?.stage != C.STAGE_REJECTED && topic?.stage != C.STAGE_PASSED">
				{{ topic?.stageName | translate }} {{ 'TOPIC_SUBTITLE_1' | translate }} {{ topic?.nextDeadline | date:'y-MM-dd' }} {{ 'TOPIC_SUBTITLE_2' | translate }} {{ topic?.nextDeadline | date:'HH:mm:ss' }} (<countdown [time]="topic?.nextDeadline"></countdown>)
			</p>
			<p *ngIf="topic?.stage == C.STAGE_PASSED">{{ topic?.stageName | translate }} {{ 'TOPIC_SUBTITLE_3' | translate }} {{ topic?.stagePassedStarted | date:'y-MM-dd' }}</p>
			<p *ngIf="topic?.stage == C.STAGE_REJECTED">{{ topic?.stageName | translate }}, {{ topic?.rejectedReason | translate }}</p>
		</div>
		
		<span class="flex-spacer"></span>
		
		<button mat-button [ngClass]="{'voted': topic.voted}" *ngIf="topic?.stage == C.STAGE_SELECTION" title="{{ 'TOPIC_BUTTON_MARK_RELEVANT' | translate }}" (click)="toggleVote()">
			<span><fa-icon [icon]="faHandPaper"></fa-icon> {{ 'TOPIC_BUTTON_MARK_RELEVANT' | translate }}</span>
		</button>
		<button mat-button *ngIf="topic?.stage == C.STAGE_PROPOSAL && !topic?.proposal" title="{{ 'TOPIC_BUTTON_CREATE_PROPOSAL' | translate }}" (click)="createProposal()">
			<span><fa-icon [icon]="faFileMedical"></fa-icon> {{ 'TOPIC_BUTTON_CREATE_PROPOSAL' | translate }}</span>
		</button>
		<button mat-button *ngIf="topic?.stage == C.STAGE_CONSENSUS && topic?.group" title="{{ 'TOPIC_BUTTON_GOTO_CURRENT_GROUP' | translate }}" [routerLink]="['/group', topic.group._id]">
			<span><fa-icon [icon]="faUsers"></fa-icon> {{ 'TOPIC_BUTTON_GOTO_CURRENT_GROUP' | translate }}</span>
		</button>
		<button mat-icon-button *ngIf="topic?.stage == C.STAGE_PASSED" title="{{ 'TOPIC_BUTTON_RESULT_DOWNLOAD' | translate }}" (click)="downloadPdf()">
			<fa-icon [icon]="faDownload"></fa-icon>
		</button>
		<button mat-icon-button *ngIf="topic?.stage >= C.STAGE_CONSENSUS || topic?.stage == C.STAGE_REJECTED" title="{{ 'TOPIC_BUTTON_STRUCTURE' | translate }}" (click)="openGraph()">
			<fa-icon [icon]="faSitemap"></fa-icon>
		</button>
		
		<button mat-icon-button [matMenuTriggerFor]="more">
			<fa-icon [icon]="faEllipsisV"></fa-icon>
		</button>
		<mat-menu #more="matMenu" [overlapTrigger]="false">
			<button mat-menu-item [routerLink]="['/user/profile', userId]"><fa-icon [icon]="faUser"></fa-icon> {{ 'TOPIC_BUTTON_AUTHOR' | translate }}</button>
		</mat-menu>
	</div>
</mat-toolbar>

<div class="container alert-box">
	<alert></alert>
</div>

<groupvis *ngIf="showGraph" [topicId]="topicId" (close)="showGraph = false"></groupvis>

<div class="container">
	<mat-tab-group>
		<mat-tab label="{{ 'TOPIC_TAB_LABEL_DESCRIPTION' | translate }}">
			<button mat-raised-button color="primary" *ngIf="topic?.stage == C.STAGE_SELECTION && topic?.owner == userId" title="{{ 'TOPIC_BUTTON_EDIT' | translate }}" [routerLink]="['/topic/editor', topic.description._id]">
				<span><fa-icon [icon]="faEdit"></fa-icon> {{ 'TOPIC_BUTTON_EDIT' | translate }}</span>
			</button>
			<div [innerHtml]="topic?.description.html"></div>
		</mat-tab>
		<!--<mat-tab label="Referenzen">Referenzen</mat-tab>-->
		<mat-tab label="{{ 'TOPIC_TAB_LABEL_PROPOSAL' | translate }}" *ngIf="topic?.proposal">
			<button mat-raised-button color="primary" *ngIf="topic?.stage == C.STAGE_PROPOSAL" title="{{ 'TOPIC_BUTTON_EDIT_PROPOSAL' | translate }}" [routerLink]="['/proposal/editor', topic.proposal._id]">
				<span><fa-icon [icon]="faEdit"></fa-icon> {{ 'TOPIC_BUTTON_EDIT_PROPOSAL' | translate }}</span>
			</button>
			<div [innerHtml]="topic?.proposal.html"></div>
		</mat-tab>
		<mat-tab label="{{ 'TOPIC_TAB_LABEL_GROUP' | translate }}" *ngIf="topic?.group">
			<button mat-raised-button color="primary" *ngIf="topic?.stage == C.STAGE_CONSENSUS" title="{{ 'TOPIC_BUTTON_EDIT_CURRENT_GROUP' | translate }}" [routerLink]="['/group', topic.group._id]">
				<span><fa-icon [icon]="faEdit"></fa-icon> {{ 'TOPIC_BUTTON_EDIT_CURRENT_GROUP' | translate }}</span>
			</button>
			<div [innerHtml]="topic?.group.html"></div>
		</mat-tab>
		<!--<mat-tab label="Statistik">Statistik</mat-tab>-->
		<mat-tab label="{{ 'TOPIC_TAB_LABEL_RESULT' | translate }}" *ngIf="topic?.stage == C.STAGE_PASSED"><div [innerHtml]="topic?.finalDocument"></div></mat-tab>
	</mat-tab-group>
</div>
