/* Import variables */
@import "~styles/variables";

.editor-toolbars { position: fixed; width: 100%; z-index: 1; }
.first-toolbar { height: 48px; padding-top: 8px; }
.second-toolbar { height: 42px; padding-bottom: 10px; }
.editor-wrapper { padding-top: 90px; }

.saved-text {
	margin-left: 50px;
	padding-top: 3px;
	font-weight: 300;
	font-size: 1.3rem;
	color: $grey100;
}
