<stagebar>
	<div class="container">
		<p class="default-text" [@fadeInOut]="descStatus" (@fadeInOut.done)="descAnimationDone($event)">Wähle ein Element ...</p>
		<div [@fadeInOut]="detailStatus" (@fadeInOut.done)="detailAnimationDone($event)">
			<div class="flex">
				<div>
					<h2>
						<span *ngIf="proposal">{{ 'GROUPVIS_PROPOSAL_LABEL' | translate }} {{ proposal?.name }}</span>
						<span *ngIf="group">{{ 'GROUPVIS_GROUP_LABEL' | translate }} {{ group?.name }}</span>
						
					</h2>
					<p *ngIf="proposal">Dieser Proposal enthält {{ proposal?.numWords }} Wörter, wurde von <a [routerLink]="['/user/profile', proposal?.authorId]">{{ proposal?.authorId }}</a> geschrieben und endete am {{ proposal?.expiration | date:'y-MM-dd' }}</p>
					<p *ngIf="group">Diese Gruppe hat {{ group?.numMembers }} Mitglieder, diese schrieben bisher {{ group?.numWords }} Wörter und sie endet am {{ group?.expiration | date:'y-MM-dd' }}</p>
				</div>
				
				<span class="flex-spacer"></span>
				
				<button mat-raised-button color="warn" *ngIf="proposal">
					<span><fa-icon [icon]="faPlay"></fa-icon> {{ 'GROUPVIS_DETAIL_PROPOSAL_BUTTON_LABEL' | translate }}</span>
				</button>
				<button mat-raised-button color="warn" *ngIf="group" [routerLink]="['/group', group.groupId]">
					<span><fa-icon [icon]="faPlay"></fa-icon> {{ 'GROUPVIS_DETAIL_GROUP_BUTTON_LABEL' | translate }}</span>
				</button>
			</div>
		</div>
	</div>
</stagebar>

<div class="container vis-wrapper">
	<div *ngIf="visNetworkData">
		<div class="network-canvas" [visNetwork]="visNetwork" [visNetworkData]="visNetworkData" [visNetworkOptions]="visNetworkOptions" (initialized)="networkInitialized()"></div>
	</div>
	<div class="legend">
		<p><span class="legend-color" [style.background-color]="meColor.background"></span> Meine Vorschläge/Gruppen</p>
		<p><span class="legend-color" [style.background-color]="groupColor.background"></span> Andere Gruppen</p>
		<p><span class="legend-color" [style.background-color]="proposalColor.background"></span> Andere Vorschläge</p>
	</div>
</div>
