<stagebar></stagebar>

<div class="container">
	<div *ngIf="visNetworkData">
		<div class="network-canvas" [visNetwork]="visNetwork" [visNetworkData]="visNetworkData" [visNetworkOptions]="visNetworkOptions" (initialized)="networkInitialized()"></div>
	</div>
	<div id="info" [@slideInOut]="detailStatus">
		<h1>
			<span *ngIf="detail?.type == 'proposal'">{{ 'GROUPVIS_PROPOSAL_LABEL' | translate }}</span>
			<span *ngIf="detail?.type == 'group'">{{ 'GROUPVIS_GROUP_LABEL' | translate }}</span>
			{{ detail?.shortPadId }}
		</h1>
		<p>
			<span>{{ 'GROUPVIS_DETAIL_EXPIRATION' | translate }}: {{ detail?.expiration | date:'y-MM-dd' }}</span><br/>
			<span>{{ 'GROUPVIS_DETAIL_NUMWORDS' | translate }}: {{ detail?.numWords }}</span><br/>
			<span *ngIf="detail?.type == 'group'">{{ 'GROUPVIS_DETAIL_NUMMEMBERS' | translate }}: {{ detail?.numMembers }}</span>
		</p>
		<button mat-raised-button color="primary" [routerLink]="['/'+detail?.type+'/view', detail?.padId]">
			<span *ngIf="detail?.type == 'proposal'">{{ 'GROUPVIS_DETAIL_PROPOSAL_BUTTON_LABEL' | translate }}</span>
			<span *ngIf="detail?.type == 'group'">{{ 'GROUPVIS_DETAIL_GROUP_BUTTON_LABEL' | translate }}</span>
		</button>
	</div>
</div>
