<h3>Group</h3>
<div class="block-content tabs-block">
    <ul class="nav nav-pills nav-stacked">
        <li data-link="ourprop" data-link-parents="">
            <a><i class="fa fa-lightbulb-o" aria-hidden="true"></i> Our proposal</a>
        </li>
        <li data-link="grpmem" data-link-parents="">
            <a><i class="fa fa-users" aria-hidden="true"></i> Group members</a>
        </li>
        <li>
            <a href="/#/topic/{{tid}}"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back to topic</a>
        </li>
    </ul>
</div>
