<h3>{{i18n "Document status"}}</h3>

<div>
    <span class="state-stars"></span>
    <span class="state-status"></span>
</div>
<p><small class="state-next"></small></p>

<hr/>

<h3>{{i18n "Topic status"}}</h3>

<p>{{topicname}} {{i18n "in level"}} {{math level "+" 1}}</p>
<p class="">{{i18n "Time remaining"}}: <span class="group-time-remain"></span></p>
<ul class="nav nav-pills nav-stacked">
    <li>
        <a href="/#/topic/{{tid}}"><i class="fa fa-chevron-left" aria-hidden="true"></i> Zurück zur Themenansicht</a>
    </li>
</ul>

<hr/>

{{> social}}