<div class="chat">
    <div class="form-group label-floating">
        <div class="input-group">
            <input id="chat-message" type="text" class="form-control" placeholder="{{i18n 'Start chatting ...'}}">
            <span class="input-group-btn">
                <button id="chat-send" type="button" class="btn btn-default btn-raised send">
                    <i class="fa fa-paper-plane"></i>
                </button>
            </span>
        </div>
    </div>
    <div id="chat-messages"></div>
</div>
