{{#ifis lastLevel 1}}
    <p class="small">{{i18n 'You reached last level of consensus stage. Since this is the very last group in process, there is no rating this time.'}}</p>
{{/ifis}}

{{#each members}}
<div class="member" data-link-parents="" data-link="grpmem-{{this._id}}">
    <a class="member-title{{#if this.is_me}} isme{{/if}}" data-member-id="{{this._id}}">
        <span class="user-color" style="background-color: {{this.color}};"></span>{{this.name}}<span class="rate pull-right" data-rate-type="mean" data-rate-id="{{this._id}}"></span></a>
    <div class="member-details clearfix" style="display: none;">
        
        
        <ul class="list-unstyled member-ratings">
            <li><span class="fa fa-info-circle" data-toggle="tooltip" data-placement="left" title="{{i18n 'Assumed knowledge regarding this topic.'}}"></span> {{i18n "Knowledge"}}<span class="rate pull-right" data-rate-type="knowledge" data-rate-id="{{this._id}}"></span></li>
            <li><span class="fa fa-info-circle" data-toggle="tooltip" data-placement="left" title="{{i18n 'Skill of user to unite varying positions to everyone\'s satisfaction.'}}"></span> {{i18n "Integration skill"}}<span class="rate pull-right" data-rate-type="integration" data-rate-id="{{this._id}}"></span></li>
        </ul>
        
        
        <div class="member-proposal">
            <button class="btn btn-raised btn-primary member-proposal-link" data-member-id="{{this._id}}"><i class="fa fa-file-text-o" aria-hidden="true"></i> {{i18n 'Proposal of'}} {{this.name}}</button>
        </div>
    </div>
</div>
{{/each}}

<p class="small">{{i18n 'Note: Your name was randomly generated and will be different in every group.'}}</p>
