<h2>Filter</h2>
<div class="block-content">
    <form id="stagefilter">
        <input type="checkbox" class="stage" id="stage-{{STAGE_SELECTION}}" value="{{STAGE_SELECTION}}" checked="true"/> Selection<br/>
        <input type="checkbox" class="stage" id="stage-{{STAGE_PROPOSAL}}" value="{{STAGE_PROPOSAL}}" checked="true"/> Proposal<br/>
        <input type="checkbox" class="stage" id="stage-{{STAGE_CONSENSUS}}" value="{{STAGE_CONSENSUS}}" checked="true"/> Consensus<br/>
        <input type="checkbox" class="stage" id="stage-{{STAGE_PASSED}}" value="{{STAGE_PASSED}}" checked="true"/> Passed<br/>
        <input type="checkbox" class="stage" id="stage-{{STAGE_REJECTED}}" value="{{STAGE_REJECTED}}" checked="true"/> Rejected<br/>
    </form>
</div>