<div class="stage stage{{stage}}"></div>

<div id="link-{{_id}}" class="link">

<div class="pull-right">
    {{#ifis stage STAGE_SELECTION}}
    <div class="buttons">
        <button class="btn btn-sm btn-raised vote{{#if voted}} btn-success{{else}} btn-primary{{/if}}" title="{{#if voted}}unvote{{else}}vote{{/if}}"><span class="fa fa-hand-paper-o"></span></button>
        <button class="btn btn-sm btn-raised join{{#if joined}} btn-success{{else}} btn-primary{{/if}}{{#unless voted}} hidden{{/unless}}" title="{{#if joined}}leave{{else}}join{{/if}}"><span class="fa fa-user-plus"></span></button>
    </div>
    {{else}}
        {{#ifis stage STAGE_REJECTED}}
        
        {{else}}
            {{#ifis stage STAGE_PASSED}}
            <div class="buttons">
                <a class="btn btn-xs btn-raised btn-default btn-success doc" title="{{i18n 'Final document'}}" href="file/topic/final/{{_id}}" target="_blank"><span class="fa fa-file-text-o"></span>{{i18n 'Final document'}}</a>
            </div>
            {{else}}
            <div class="time-remaining">
                <div>
                    {{ i18n "Completion of"}}
                    {{#ifis stage STAGE_CONSENSUS}}
                        {{ i18n "level"}} {{math level "+" 1}}
                    {{else}}{{stageName}}{{/ifis}}
                    in
                </div>
                <div id="timeremaining-{{_id}}"></div>
            </div>
            {{/ifis}}
        {{/ifis}}
    {{/ifis}}
</div>

<div>
    <div class="name">{{name}} <strong class="body">{{#if body}}#body{{/if}}</strong></div>
    <div class="stats">
        {{#ifis stage STAGE_REJECTED}}
            rejected: {{rejectedDate}}, {{i18n (lookup . "rejectedReason")}}
        {{else}}
            {{#ifis stage STAGE_SELECTION}}{{i18n "created"}}: {{creationDate}}{{/ifis}}
            {{#ifis stage STAGE_PROPOSAL}}{{i18n "started"}}: {{proposalDate}}{{/ifis}}
            {{#ifis stage STAGE_CONSENSUS}}{{i18n "started"}}: {{consensusDate}}{{/ifis}}
            {{#ifis stage STAGE_PASSED}}{{i18n "passed"}}: {{passedDate}}{{/ifis}}
            
            {{#ifis stage STAGE_SELECTION}}, {{votes}} {{i18n "votes"}}{{/ifis}},
            {{valid_participants}} {{i18n "participants"}}
            {{#ifis stage STAGE_PROPOSAL}}, {{proposals}} {{i18n "proposals"}}{{/ifis}}
        {{/ifis}}
    </div>
</div>

</div>