<div class="stage stage{{stage}}"></div>

<div class="link">

<div class="pull-right">
    {{#ifis stage STAGE_SELECTION}}
    <div class="buttons">
        <button class="btn btn-sm btn-default vote{{#if voted}} active{{/if}}" title="{{#if joined}}unvote{{else}}vote{{/if}}"><span class="fa fa-hand-paper-o"></span></button>
        <button class="btn btn-sm btn-default join{{#if joined}} active{{/if}}" title="{{#if joined}}leave{{else}}join{{/if}}"><span class="fa fa-user-plus"></span></button>
    </div>
    {{else}}
        {{#ifis stage STAGE_REJECTED}}
        
        {{else}}
            {{#ifis stage STAGE_PASSED}}
            <div class="buttons">
                <a class="btn btn-sm btn-default btn-success doc" title="Final document" href="file/topic/final/{{_id}}" target="_blank"><span class="fa fa-file-text-o"></span> Final document</a>
            </div>
            {{else}}
            <div class="time-remaining">
                <div>
                    Completion of 
                    {{#ifis stage STAGE_CONSENSUS}}
                        level {{level}}
                    {{else}}
                        {{stageName}} stage
                    {{/ifis}}
                    in
                </div>
                <div id="timeremaining-{{_id}}"></div>
            </div>
            {{/ifis}}
        {{/ifis}}
    {{/ifis}}
</div>

<div>
    <div class="name">{{name}} <strong class="body">{{#if body}}#body{{/if}}</strong></div>
    <div class="stats">
        {{#ifis stage STAGE_REJECTED}}
            rejected: {{rejectedDate}}
        {{else}}
            {{#ifis stage STAGE_SELECTION}}created: {{creationDate}}{{/ifis}}
            {{#ifis stage STAGE_PROPOSAL}}started: {{proposalDate}}{{/ifis}}
            {{#ifis stage STAGE_CONSENSUS}}started: {{consensusDate}}{{/ifis}}
            {{#ifis stage STAGE_PASSED}}passed: {{passedDate}}{{/ifis}}
            
            {{#ifis stage STAGE_SELECTION}}, {{votes}} votes{{/ifis}},
            {{participants}} participants
            {{#ifis stage STAGE_PROPOSAL}}, X proposals{{/ifis}}
        {{/ifis}}
    </div>
</div>

</div>