{{> header title='Filter'}}

<h3>Filter by stage</h2>
<div class="block-content">
    <form id="stagefilter">
        <input type="checkbox" class="stage" value="{{STAGE_SELECTION}}" checked /> Selection<br/>
        <input type="checkbox" class="stage" value="{{STAGE_PROPOSAL}}" checked /> Proposal<br/>
        <input type="checkbox" class="stage" value="{{STAGE_CONSENSUS}}" checked /> Consensus<br/>
        <input type="checkbox" class="stage" value="{{STAGE_PASSED}}" checked /> Passed<br/>
        <input type="checkbox" class="stage" value="{{STAGE_REJECTED}}" /> Rejected<br/>
    </form>
</div>