<div class="page-header">
    <h2>{{i18n "Filter and sorting"}}</h2>
</div>

<h3>{{i18n "Filter by stage"}}</h3>
<div class="block-content">
    <form id="stagefilter">
        <input type="checkbox" class="stage" value="{{STAGE_SELECTION}}" checked /> {{i18n "Selection stage"}}<br/>
        <input type="checkbox" class="stage" value="{{STAGE_PROPOSAL}}" checked /> {{i18n "Proposal stage"}}<br/>
        <input type="checkbox" class="stage" value="{{STAGE_CONSENSUS}}" checked /> {{i18n "Consensus stage"}}<br/>
        <input type="checkbox" class="stage" value="{{STAGE_PASSED}}" checked /> {{i18n "Passed"}}<br/>
        <input type="checkbox" class="stage" value="{{STAGE_REJECTED}}" /> {{i18n "Rejected"}}<br/>
    </form>
</div>

<hr/>

<h3>{{i18n "Order by time"}}</h3>
<label>
  <input type="radio" name="deadline" class="deadline" id="oldfirst" value="oldfirst" checked>
  {{i18n "Oldest topics first"}}
</label>
<label>
    <input type="radio" name="deadline" class="deadline" id="newfirst" value="newfirst">
  {{i18n "Newest topics first"}}
</label>
