{{> lightbox}}

<!-- include in buttons? -->
<div class="button-group pull-right">
    <button class="btn btn-default btn-raised btn-primary add" title="{{i18n "Add Topic"}}"><span class="fa fa-plus"></span>{{i18n "Add Topic"}}</button>
    <button class="btn btn-default btn-raised btn-primary refresh" title="refresh list"><span class="fa fa-refresh" aria-hidden="true"></span></button>
</div>

<div class="page-header">
    <h2>{{title}}</h2>
</div>

{{> messages}}

<div id="topic-list" class="list-group"></div>
