{{> header}}

<div class="row">
    <div class="col-md-8">
        {{> messages}}
        <div class="editor-wrapper">
            <div id="toolbar">
                <button title="Bold" class="fa fa-bold ql-bold"></button>
                <button title="Italic" class="fa fa-italic ql-italic"></button>
            </div>
            <div id="editor">
                <p>Hello World!</p>
            </div>
        </div>
    </div>
    
    <aside class="col-md-4">
        <div class="block">{{> group_tabs}}</div>
        <div class="block last">{{> group_proposals}}</div>
    </aside>
</div>
