{{> header}}

<div class="row">
    <div class="col-md-8">
    	{{> messages}}
		<table class="table table-hover">
			<thead>
				<tr class="list-head">
					<th>{{i18n "User"}}</th>
					<!--<th>Reputation</th>-->
					<th>{{i18n "Integration skill"}} <span class="fa fa-info-circle" data-toggle="tooltip" data-placement="top" title="{{i18n 'Skill of user to unite varying positions to everyone\'s satisfaction.'}}"></span></th>
					<!--<th>Proposal</th>-->
					<th>{{i18n "Knowledge"}} <span class="fa fa-info-circle" data-toggle="tooltip" data-placement="top" title="{{i18n 'Assumed knowledge regarding this topic.'}}"></span></th>
				</tr>
			</thead>
			<tbody>
				{{#each members}}
		        <tr {{#if this.is_me}}class="active"{{/if}}>
	        		<td class="memb-name">
	        			<div {{#if this.is_me}}data-toggle="tooltip" data-placement="left" title="{{i18n 'This is you. Your name was randomly generated and will be different in every group.'}}"{{/if}}>
	        				<span class="user-color" style="background-color: {{this.color}};"></span>{{this.name}}
	        			</div>
	        		</td>
	        		<!--<td class="memb-repu"><span class="fa fa-trophy"></span> 0.58/3.412</td>-->
	        		<td><div class="rate" data-rate-type="member" data-rate-id="{{this._id}}"></div></td>
	        		<!--<td class="memb-prop-show"><a class="member-proposal" data-link="grpmem-{{this._id}}" data-link-parents="topics" data-member-id="{{this._id}}"><span class="fa fa-file-text"></span> 8/59</a></td>-->
	        		<td><div class="rate" data-rate-type="knowledge" data-rate-id="{{this.ppid}}"></div></td>
		        </tr>
		    	{{/each}}
	    	</tbody>
	    </table>
	</div>
	    
    <aside class="col-md-4">
	    <div class="block">{{> group_tabs}}</div>
	    <div class="block last">{{> group_proposals}}</div>
    </aside>
</div>
