{{> header}}

<div class="row">
    <div class="col-md-8">
    	{{> messages}}
		<table class="table table-hover">
			<thead>
				<tr class="list-head">
					<th>User</th>
					<th>Reputation</th>
					<th>Integration skill <span class="fa fa-info-circle" data-toggle="tooltip" data-placement="top" title="skill of user to unite contents to everyone's satisfaction"></span></th>
					<th>Proposal</th>
					<th>Quality of proposal <span class="fa fa-info-circle" data-toggle="tooltip" data-placement="top" title="quality of ideas and clearness of text"></span></th>
				</tr>
			</thead>
			<tbody>
				{{#each participants}}
		        <tr {{#if this.is_me}}class="active"{{/if}}>
	        		<td class="memb-name">{{this.name}}</td>
	        		<td class="memb-repu"><span class="fa fa-trophy"></span> 0.58/3.412</td>
	        		<td><div class="rate" data-rate-type="participant" data-rate-id="{{this._id}}"></div></td>
	        		<td class="memb-prop-show"><a data-member-id="{{this._id}}"><span class="fa fa-file-text"></span> 8/59</a></td>
	        		<td><div class="rate" data-rate-type="proposal" data-rate-id="{{this.ppid}}"></div></td>
		        </tr>
		    	{{/each}}
	    	</tbody>
	    </table>
	</div>
	    
    <aside class="col-md-4">
	    <div class="block">{{> group_tabs}}</div>
	    <div class="block last">{{> group_proposals}}</div>
    </aside>
</div>
