<mat-toolbar color="primary">
	<div class="flex container">
		<h1>{{ header }}</h1>
		<span class="flex-spacer"></span>
		
		<button mat-button [ngClass]="{'active': activeTab == 'overview'}" [routerLink]="['/user/profile', profileId, 'overview']">
			<span><fa-icon [icon]="faUser"></fa-icon> {{ 'PROFILE_TOOLBAR_BUTTON_OVERVIEW' | translate }}</span>
		</button>
		<button mat-button [ngClass]="{'active': activeTab == 'activity'}" [routerLink]="['/user/profile', profileId, 'activity']">
			<span><fa-icon [icon]="faFire"></fa-icon> {{ 'PROFILE_TOOLBAR_BUTTON_ACTIVITY' | translate }}</span>
		</button>
	</div>
</mat-toolbar>

<router-outlet></router-outlet>
