<div class="page-header">
    <h2>{{i18n "Navigation"}}</h2>
</div>

<ul class="nav nav-pills nav-stacked">
    <li id="nav-tpc" data-link="topics"><a href="/#/topics">{{i18n "Home"}}</a></li>
</ul>

<!-- TODO: show max 3, 4 or 5 groups, use "read more" like link -->
{{#if showTopicsHeader}}
<h3>{{i18n "Topics"}}</h3>
<ul class="nav nav-pills nav-stacked nav-pills-sm">
{{#each topics}}
    {{#ifisnot stage ../STAGE_REJECTED}}
    <li data-link="nav-{{this._id}}"><a href="/#/topic/{{this._id}}"><i class="fa fa-question-circle" aria-hidden="true"></i> {{this.name}}<br/><small>{{this.stageName}} stage{{#ifis stage ../STAGE_CONSENSUS}}, level {{math this.level "+" 1}}{{/ifis}}</small></a></li>
    {{/ifisnot}}
{{/each}}
</ul>
{{/if}}

{{#if groups}}
<!-- TODO: Popoup mit Namen der members -->
<h3>{{i18n "Groups"}}</h3>
<ul class="nav nav-pills nav-stacked nav-pills-sm">
{{#each groups}}
    <li><a class="{{#ifis this.danger 1}}pill-danger{{/ifis}}" href="/#/group/{{this._id}}"><i class="fa fa-users" aria-hidden="true"></i> {{this.name}}<br/><small>{{this.timeRemaining}} remaining</small></a></li>
{{/each}}
</ul>
{{/if}}

{{proposals}}
{{#if proposals}}
<h3>Proposals</h3>
<ul class="nav nav-pills nav-stacked nav-pills-sm">
{{#each proposals}}
    <li><a class="{{#ifis this.danger 1}}pill-danger{{/ifis}}" href="/#/proposal/{{this._id}}"><i class="fa fa-lightbulb-o" aria-hidden="true"></i> {{this.name}}<br/><small>{{this.timeRemaining}} remaining</small></a></li>
{{/each}}
</ul>
{{/if}}