<mat-toolbar class="first-toolbar" color="primary">
	<div class="flex container">
		<h1>{{ title }}</h1>
		<span class="flex-spacer"></span>
		
		<button mat-button [ngClass]="{'active': activeTab == 'editor'}" title="{{ 'GROUP_BUTTON_DOCUMENT' | translate }}" [routerLink]="['/group', groupId, 'editor']">
			<span><fa-icon [icon]="faFile"></fa-icon> {{ 'GROUP_BUTTON_DOCUMENT' | translate }}</span>
		</button>
		<button mat-button [ngClass]="{'active': activeTab == 'chat'}" title="{{ 'GROUP_BUTTON_CHAT' | translate }}" [routerLink]="['/group', groupId, 'chat']">
			<span><fa-icon [icon]="faComments"></fa-icon> {{ 'GROUP_BUTTON_CHAT' | translate }}</span>
		</button>
		<button mat-button [ngClass]="{'active': activeTab == 'forum'}" title="{{ 'GROUP_BUTTON_FORUM' | translate }}" [routerLink]="['/group', groupId, 'forum']">
			<span><fa-icon [icon]="faComments"></fa-icon> {{ 'GROUP_BUTTON_FORUM' | translate }}</span>
		</button>
		<button mat-button [ngClass]="{'active': activeTab == 'members'}" title="{{ 'GROUP_BUTTON_MEMBERS' | translate }}" [routerLink]="['/group', groupId, 'members']">
			<span><fa-icon [icon]="faUsers"></fa-icon> {{ 'GROUP_BUTTON_MEMBERS' | translate }}</span>
		</button>
		<!--<button mat-button (click)="enterFullscreen()" title="{{ 'GROUP_BUTTON_PRODUCTIVE_MODE' | translate }}">
			<span><fa-icon [icon]="faExpandArrowsAlt"></fa-icon> {{ 'GROUP_BUTTON_PRODUCTIVE_MODE' | translate }}</span>
		</button>
		<button mat-button title="{{ 'FORM_BUTTON_CLOSE' | translate }}" (click)="closeEditor()">
			<span><fa-icon [icon]="faTimes"></fa-icon> {{ 'FORM_BUTTON_CLOSE' | translate }}</span>
		</button>-->
	</div>
</mat-toolbar>
