<stagebar>
	<div class="flex container">
		<div *ngIf="isEditor">
			<div id="toolbar"></div>
			<span class="saved-text">
				<span *ngIf="saved">{{ 'EDITOR_SAVED_CHANGES' | translate }}</span>
				<span *ngIf="!saved">{{ 'EDITOR_UNSAVED_CHANGES' | translate }}</span>
			</span>
		</div>
		
		<span class="flex-spacer"></span>
		
		<div class="validity">
			<span *ngIf="isValid" class="validity-valid" matTooltip="{{ 'EDITOR_DOCUMENT_VALID_HELPTEXT' | translate }}">
				<span class="valid-label">{{ 'EDITOR_DOCUMENT_VALID' | translate }}</span>
				<fa-icon [icon]="faCheckCircle"></fa-icon>
			</span>
			<span *ngIf="!isValid" class="validity-not-valid" matTooltip="{{ 'EDITOR_DOCUMENT_NONVALID_HELPTEXT' | translate }}">
				<span class="valid-label">{{ 'EDITOR_DOCUMENT_NONVALID' | translate }}</span>
				<fa-icon [icon]="faTimesCircle"></fa-icon>
			</span>
		</div>
	</div>
</stagebar>

<div *ngIf="isEditor" class="editor-wrapper container">
	<div class="row">
		<div class="editor-center">
			<quill-editor class="col" [ngClass]="classColEditor" [modules]="quillModules" [styles]="{'min-height': '300px'}" [placeholder]="placeholder" (onEditorCreated)="editorCreated($event)" (onContentChanged)="contentChanged($event)"></quill-editor>
		</div>
	</div>
</div>

<div *ngIf="!isEditor" class="container">
	<div id="padhtml" [innerHtml]="proposal?.html"></div>
</div>
