<h1>{{ 'REGISTER_FORM_TITLE' | translate }}</h1>

<p>{{ 'REGISTER_FORM_WELCOME' | translate }}</p>

<alert></alert>

<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" novalidate>
	<p>
		<mat-form-field>
			<input matInput formControlName="email" type="email" placeholder="{{ 'FORM_LABEL_MAIL' | translate }}" required>
		</mat-form-field>
	</p>
	
	<p formGroupName="passwords">
		<mat-form-field>
			<input matInput formControlName="password" type="password" placeholder="{{ 'FORM_LABEL_PASSWORD' | translate }}" required>
		</mat-form-field>
	</p>
	
	<p formGroupName="passwords">
		<mat-form-field>
			<input matInput formControlName="passwordrep" type="password" placeholder="{{ 'FORM_LABEL_PASSWORD_REP' | translate }}" required>
		</mat-form-field>
	</p>
	
	<!--span *ngIf="!registerForm.passwords.valid" class="help-block text-danger">
		from https://stackoverflow.com/questions/35474991/angular-2-form-validating-for-repeat-password
		<div *ngIf="registerForm.passwords?.errors?.areEqual">
			{{ 'FORM_ERROR_PASSWORDS_NO_MATCH' | translate }}
		</div>
	</span-->
	
	<button mat-raised-button color="primary" type="submit" [disabled]="registerForm.invalid">
		<span>{{ 'REGISTER_FORM_SUBMIT' | translate }}</span>
	</button>
</form>

<hr/>

<p>
	<span>
		{{'REGISTER_FORM_ACCOUNT_ALREADY_PREFIX' | translate}}
		<a routerLink="/login">{{'REGISTER_FORM_ACCOUNT_ALREADY_LINK' | translate}}</a>{{'REGISTER_FORM_ACCOUNT_ALREADY_SUFFIX' | translate}}
	</span>
</p>
